<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <h3>SMS Job</h3>
                <hr/>
                <span>
                    Last run time: <b style="color: green">{{sms.last_run_time | date: 'medium'}}</b>
                </span>
                </br>
                <span>
                    Next run time: <b style="color: red">{{sms.next_run_time | date: 'medium'}}</b>
                </span>
            </div>
            <div class="thumbnail">
                <h3>Users</h3>
                <hr/>
                <a ng-href="/console/#/users" class="btn btn-success">View</a>
            </div>
            <div class="thumbnail">
                <h3>Outlets</h3>
                <hr/>
                <a ng-href="/console/#/outlets/" class="btn btn-success">View</a>
            </div>
            <div class="thumbnail">
                <h3>Programs</h3>
                <hr/>
                <a ng-href="/console/#/programs/" class="btn btn-success">View</a>
            </div>
            <div class="thumbnail">
                <h3>QR code</h3>
                <hr/>
                <a ng-href="/console/#/qr/" class="btn btn-success">Generate</a>
                <a ng-href="/console/#/qrs/" class="btn btn-success">View</a>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <h3>Notifications</h3>
                <hr/>
                <a ng-href="/console/#/notifs" class="btn btn-info">Add</a>
            </div>
            <div class="thumbnail">
                <h3>App Downloads</h3>
                <hr/>
                <a ng-href="/console/#/apps/" class="btn btn-success">View</a>
            </div>
        </li>
        <!-- <li class="span4">
            <div class="thumbnail">
                <h3>Analytics</h3>
                <hr/>
                <a ng-href="/console/#/data" class="btn btn-info">View</a>
            </div>
        </li> -->
        <li class="span4">
            <div class="thumbnail">
                <h3>Update recco config</h3>
                <hr/>
                <a ng-href="/console/#/recco_config" class="btn btn-info">View</a>
            </div>
        </li>
    </ul>
</div>
