<div>
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <h3>Manage users</h3>
                <hr/>
                <a ng-href="/console/#/users/view" class="btn btn-success">View users</a>
                <a ng-href="/console/#/users/create" class="btn btn-info">Create user</a>
            </div>
            <div class="thumbnail">
                <h3>Add lat/long to Outlet</h3>
                <hr/>
                <a ng-href="/console/#/outlets/" class="btn btn-success">View outlets</a>
            </div>
            <div class="thumbnail">
                <h3>Generate QR code for Outlet</h3>
                <hr/>
                <a ng-href="/console/#/qr/" class="btn btn-success">Create QR</a>
            </div>
        </li>
    </ul>
</div>
