<div class="row-fluid">
    <div class="row-fluid offset5 main-div-padding">
        <div class="span4 shadow">
            <h3 class="orange">Twyst Console</h3>
            <div class="control-group">
                <label class="control-label">Username</label>
                <div class="controls">
                    <input type="text" placeholder="Username" id="username" name="username" required="true" ng-model="user.name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="password" placeholder="Password" id="password" name="password" required="" ng-model="user.pass">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-small btn-success" ng-click="login()" ng-disabled="!user.name || !user.pass">Sign in</button>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label>
                        <strong style="color:red" ng-show="auth.errors">
                            {{auth.errors}}
                        </strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
