<div class="row-fluid">
	<h4 class="alert alert-info lead">Schedule notifications</h4>
    
    <div class="row-fluid" ng-init="outletQuery()">
        <div class="row-fluid">
            <div class="span4">
                Notif Type
            </div>
            <div class="span8" >
                <input type="radio" ng-model="message.type" value="SMS" ng-click="makeEmpty('SMS')"> SMS 
                <input type="radio" ng-model="message.type" value="GCM" ng-click="makeEmpty('GCM')"> GCM
                
            </div>
        </div>
    	<div class="row-fluid" ng-show="message.type === 'FILE'">

            
            <div class="span4">
                Phone number(s) <small>(upload a csv file)</small>
            </div>
            <div class="span8">
                <input ng-model="csv" onchange="angular.element(this).scope().fileChanged()"type="file" accept=".csv" id="fileInput"/>
                     
                <br>        
                   <p ng-if = "jsonData">File Uploaded Successfully, Click Submit Button To update</p>     
           
            </div>
    	</div>
        <div class="row-fluid" ng-show="message.type === 'FILE'">
            <div class="span4">
                Outlet ID
            </div>
            <div class="span8">
                <input ng-model='message.outlet' type='text' />
            </div>
        </div>
        <div class="row-fluid" ng-show="message.type === 'SMS'">
            <div class="span4"> Select a source</div>
            <div class="span8">
                <input type="radio" ng-model="message.type" ng-show="message.type === 'SMS'"value="OUTLET" ng-click="makeEmpty('OUTLET')"> Choose  from outlets
                 <input type="radio" ng-model="message.type" ng-show="message.type === 'SMS'"value="FILE" ng-click="makeEmpty('FILE')"> Upload a file   
            </div>
        </div>
        <div class="row-fluid" ng-show="message.type === 'GCM'">
            <div class="span4">
                GCM ID(s) <small>(separated by comma or semi-colon)</small>
            </div>
            <div class="span8">
                <textarea ng-model="message.gcms">
                    
                </textarea>
            </div>
        </div>
        <div class="row-fluid" ng-show="message.type === 'OUTLET'">
            <div class="span4">
                Select Outlet
            </div>
           <div class="span8">
                <select ng-model="message.outlet" ng-change = "getNumbers()">
                    <option ng-repeat="outlet in outlets"  value="{{outlet._id}}">{{outlet.basics.name}}, {{outlet.contact.location.locality_1.toString()}}</option>
                </select>   
            </div>
        </div>
        <div class="row-fluid"  ng-show="message.type === 'GCM'">
            <div class="span4">
                GCM Server key
            </div>
            <div class="span8">
                <textarea ng-model="message.server_key"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                Message From Sender ID
            </div>
            <div class="span8">
                <input type="text" ng-model="message.from">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                Message Head
            </div>
            <div class="span8">
                <textarea ng-model="message.head"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                Message Body
            </div>
            <div class="span8">
                <textarea ng-model="message.body">
                    
                </textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="row-fluid span4">
                Schedule date
            </div>
              <div class="row-fluid span8">
                <div ng-controller="DatePickerCtrl">
                    <div class="form-horizontal">
                            <input id="appendedInput" type="text" datepicker-popup="{{format}}" is-open="opened" min="min_date" max="max_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Start date" type="date" style="margin:0px;" ng-model="message.date" />
                            <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    hours
                </div>
                <div class="span2">
                    <input class="input-mini" ng-model="message.hours">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    minutes
                </div>
                <div class="span2">
                    <input class="input-mini" ng-model="message.minutes">
                </div>
            </div>
        </div>
        <div ng-show="success.message" class="text-success offset3">
            {{success.message}}
        </div>
        <div class="offset3 text-error" ng-show="error.message" >
            {{error.message}}
        </div>
    	<div class="row-fluid">
    		<button class="btn btn-success btn-large" ng-click="addNotif()">
    			Schedule
    		</button>
    	</div>
    </div>
</div>