<div class="row">
	<form class="login-wrapper">
		<div class="header">
			<div class="row">
				<div class="col-md-12 logo">
					<h3>Login<img src="http://twyst.in/home/assets/img/twyst_logo_2.png" alt="Logo" class="pull-right"></h3>
					<p>
						Verify your mobile number to login.
					</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<input class="input col-md-12 col-sm-12 email" id="" name="" placeholder="e.g. 9871303236" ng-model="phone" style="width: 100%;text-align:center;">
				</div>
			</div>
		</div>
		<div class="actions">
			<div>
				<button ng-click="getOtp()" class="btn btn-danger" style="width: 100%;">Get verification code</button>
			</div>
			<div>
				<a class="link" href="#/otp">Have a verification code already?</a>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</form>
</div>