@media (max-width: 768px) {
	.voucher-img {
		width:4.5em;
	}
}

@media (min-width: 768px) {
	.voucher-img {
		width:5em;
		padding-right: 1em;
	}
}

body {
	background-color: #2b2b2b !important;
	overflow-x: hidden;
}

.bg-white {
	background-color: white;
}
.th2 {
    font-size: 15px;
    text-transform: uppercase;
}
.list-view {
	padding: 1em 0em 1em 0em;
	border-bottom: 1.5px solid gray;
}

.footer {
	margin-top: 0px !important;
}

.th2-heading {
	margin: 1.5em 0em .5em 1.6em;
}

.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #f6921e;
}

.login-wrapper {
	position:absolute;
	top:50%;
	left:50%;
	width:25em;
	height:300px;
	margin-left:-12.5em;
	margin-top:-150px;
	background:#fcfcfc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 18px 6px -8px #1a1a1a,0 0 2px #0d0d0d;
	-moz-box-shadow:0 18px 6px -8px #1a1a1a,0 0 2px #0d0d0d;
	box-shadow:0 18px 6px -8px #1a1a1a,0 0 2px #0d0d0d;
}
.login-wrapper .header {
	padding:30px 20px 10px 20px;
	margin:0;
}
.login-wrapper .header h4 {
	line-height:40px;
	margin:0;
	padding:0;
	color:#f74e4d;
}
.login-wrapper .header p {
	font-size:12px;
	text-align:left;
	line-height:18px;
	color:black;
	padding:10px 0;
	margin:0;
}
.login-wrapper .header .logo img {
	max-width: 5em;
	float:right;
}
.login-wrapper .content {
	padding:10px 20px;
}
.login-wrapper .content .input {
	height:30px;
	font-weight:normal;
	color:#b3b3b3;
	border:1px solid #e6e6e6;
	border-radius:2px;
	outline:none;
	margin-bottom:2px;
}
.login-wrapper .content .input:hover,.login-wrapper .content select:hover {
	background:#fafafa;
}
.login-wrapper .actions {
	padding:10px 20px;
	background:#fff;
	border-radius:0 0 4px 4px;
}
.login-wrapper .actions .btn {
	float:right;
}
.login-wrapper .actions .link {
	float:right;
	padding:8px;
	margin-right:10px;
	color: #777777;
}