<div class="row">
	<form class="login-wrapper">
		<div class="header">
			<div class="row">
				<div class="col-md-12 logo">
					<h4>View Your Vouchers<img src="http://twyst.in/home/assets/img/twyst_logo_2.png" alt="Logo" class="pull-right"></h4>
					<p>
						Enter verification code below to continue
					</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<input class="input col-md-12 col-sm-12" id="" name="" placeholder="<Enter the 4 digit verification code>" ng-model="otp" style="width: 100%;text-align:center;">
				</div>
			</div>
		</div>
		<div class="actions">
			<div>
				<button ng-click="verify()" class="btn btn-danger" style="width: 100%;">Verify</button>
			</div>
			<div>
				<a class="link" href="#/">Resend code?</a>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</form>
</div>