<div class="header">
    <style type="text/css">
        /*
        CSS for Header goes here
        */
        .padding-top-100 {
            padding-top: 3.5em;
        }
        .header .navbar-default .navbar-nav > li > a {
            color: #fff !important;
        }
        #logo-header {
            margin-top: 0.2em;
            height: 2.7em;
            width: auto;
        }

        .app-button {
            height: 2.5em;
        }
        .header .navbar {
            background-color: #000 !important;
        }
        .margin-top-pt6em {
            margin-top: -0.8em;
            margin-left: -1em;
        }
        .margin-bottom-about {
            margin-bottom: 5em; 
        }
    </style>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="logo-header" src="/discover/assets/img/twyst_logo_2.png" alt="Logo">       
          </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
          <li class="margin-top-pt6em hidden-xs hidden-sm" >
            <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android"><img class="app-button" src="/outlets/assets/img/images/googleplay.png"></a>
          </li>
          <li class="margin-top-pt6em hidden-xs hidden-sm">
              <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4" target="itunes_store"><img class="app-button" src="/outlets/assets/img/images/appstore.png"></a>
          </li>
          <li> 
            <a href="/home">
              Home
            </a>
          </li>
          <li> 
            <a href="/discover">
              Discover
            </a>
          </li>
          <li>
            <a href="/home/how">
              How it works
            </a>                       
          </li>

          <li>
            <a href="http://twyst.in/merchant/">
              For merchants
            </a>
          </li>

          <li>
            <a href="/vouchers">
              Hi, {{user.username}}
            </a>
          </li>               

        </ul>
    </div>    
</div>
<div class="container" style="margin-top:3.5em;">
	
</div>
<div class="container">
	<div class="col-md-4 col-md-push-4 bg-white col-xs-12">
		<div class="row">
			<div class="th2-heading">
				<div class="th2">
					<strong>Active Vouchers</strong>
				</div>
				<div>
					<small>To redeem, give the voucher code to your server at the restaurant or on the phone.</small>
				</div>
			</div>
		</div>
		<div ng-repeat="item in active_vouchers | orderBy: 'voucher.validity.end_date'" class="row list-view" ng-if="active_vouchers.length != 0">
			<div ng-if="item.voucher.basics.type !== 'WINBACK'">
				<div class="col-md-2 col-xs-3">
					<img ng-src="{{imageName(item)}}" class="voucher-img">
				</div>
				<div class="col-md-10 col-xs-9">
					<div class="th2">
						<strong>{{item.voucher.issue_details.issued_for.basics.title}}</strong>
					</div>
					<div>
						Voucher Code: <strong class="th2"><span style="color: orange;">{{item.voucher.basics.code}}</span></strong>
					</div>
					<div>
						<span ng-show="item.avail_in">
	                        <strong style="color:red !important">AVAILABLE {{item.avail_in.day | uppercase}} {{item.avail_in.time}}</strong>
	                    </span>
	                    <span ng-hide="item.avail_in">
	                        <strong style="color:green !important">AVAILABLE NOW</strong>
	                    </span>
					</div>
					<div>
						<small>
	                        {{item.voucher.issue_details.issued_at[0].basics.name}}
	                        <br/>
	                        <span class="text-gray"><i class="fa fa-map-marker"></i> {{item.voucher.issue_details.issued_at[0].contact.location.locality_1[0]}}, {{item.voucher.issue_details.issued_at[0].contact.location.city}}</span>
	                    </small>
					</div>
					<div>
						<small class="text-gray">
                            <i class="fa fa-calendar"></i> Valid till {{item.voucher.validity.end_date|date}}
                        </small>
					</div>
					<div ng-if="item.voucher.issue_details.issued_for.terms">
						<small class="text-gray">
                            Terms: {{item.voucher.issue_details.issued_for.terms}}
                        </small>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="active_vouchers.length === 0" class="row list-view">
			<div class="th2">
				<strong style="color:red !important">You do not have any active vouchers currently.</strong>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="footer">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4 col-sm-12 col-xs-12">
	                <!-- About -->
	                <div class="headline">
	                    <h2>About</h2>
	                </div>
	                <p>Twyst is a start-up based out of Gurgaon, started by a team with a combined experience of 40 years across product, strategy, operations and marketing. <a href="about.html">More</a></p>
	            </div>
	                <!--/col-md-4-->

	            <div class="col-md-4 col-sm-12 col-xs-12">      

	                <!-- Stay Connected -->
	                <div class="headline">
	                    <h2>Follow</h2>
	                </div>
	                <ul class="social-icons">
	                    <li>
	                        <a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a>
	                    </li>
	                    <li>
	                        <a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a>
	                    </li>
	                    <li>
	                        <a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a>
	                    </li>
	                </ul>
	            </div>
	                <!--/col-md-4-->

	            <div class="col-md-4 col-sm-12 col-xs-12 connect-margin">
	                <!-- Monthly Newsletter -->
	                

	                <!-- Stay Connected -->
	                <div class="headline">
	                    <h2>Connect</h2>
	                </div>
	                <a class="btn btn-warning" href="/home/contact.html" style="color: white;line-height: 1;">Get in touch</a>
	                <a class="btn btn-warning" href="/home/careers.html" style="color: white;line-height: 1;">Work with Us</a>
	            </div>
	                <!--/col-md-4-->
	        </div>
	            <!--/row-->
	    </div>
	        <!--/container-->
	</div>
	<div>
		<br/>
		<br/>
	</div>
	<div class="footer navbar-fixed-bottom hidden-md hidden-lg twyst-background" ng-if="getMobileOperatingSystem() === 'Android'">
        <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android">
            <div class="text-center download-footer">
              <span class="color_white">GET THE APP </span>              
                <img src="/outlets/assets/img/images/googleplay.png" class="google-play-xs">
            </div>
        </a>
        <!-- <div class="text-center"  ng-if="getMobileOperatingSystem() === 'iOS'">
          <span class="color_white padding-top-pt7">GET THE APP</span>
          <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4">
            <img src="/outlets/assets/img/images/appstore.png" class="google-play-xs">
          </a>
        </div> -->
        <style type="text/css">
            .twyst-background {
                background-color: #f6921e;
            }
            .color_white {
                color: white;
            }
            .google-play-xs {
                height: 2.7em;
            }
            .download-footer {
                height: 0.3em;
                margin-top: -0.9em;
            }
        </style>
    </div>
</div>