<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Create a voucher</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <input id="name" name="name" placeholder="Eg: Get 500 off" class="input-xlarge" required="" type="text" ng-model="voucher.basics.name">
    <p class="help-block">Enter a descriptive name for the voucher</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Voucher Code</label>
  <div class="controls">
    <input id="code" name="code" placeholder="Eg: XYZ12345" class="input-xlarge" required="" type="text" ng-model="voucher.basics.code">
    <p class="help-block">Enter code for voucher</p>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">                     
    <textarea id="textarea" name="textarea" placeholder="This voucher entitles you to..." ng-model="voucher.basics.description"></textarea>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label">Voucher Type</label>
  <div class="controls">
    <select id="type" name="type" class="input-xlarge" ng-model="voucher.basics.type">
      <option>Test 1</option>
      <option>Test 2</option>
      <option>Test 3</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label">Voucher Status</label>
  <div class="controls">
    <select id="status" name="status" class="input-xlarge" ng-model="voucher.basics.status">
      <option>Active</option>
      <option>Archived</option>
      <option>Redeemed</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Validity Start Date</label>
  <div class="controls">
    <input id="start_date" name="start_date" placeholder="Eg: 2013/7/24" class="input-xlarge" required="" type="text" ng-model="voucher.validity.start_date">
    <p class="help-block">Enter validity start date for voucher</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Validity End Date</label>
  <div class="controls">
    <input id="end_date" name="end_date" placeholder="Eg: 2013/7/24" class="input-xlarge" required="" type="text" ng-model="voucher.validity.end_date">
    <p class="help-block">Enter validity end date for voucher</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Isseued Date</label>
  <div class="controls">
    <input id="issue_date" name="issue_date" placeholder="Eg: XYZ12345" class="input-xlarge" required="" type="text" ng-model="voucher.issue_details.issue_date">
    <p class="help-block">Enter validity issue date for voucher</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Isseued Time</label>
  <div class="controls">
    <input id="issue_time" name="issue_time" placeholder="Eg: 12:30:00" class="input-xlarge" required="" type="text" ng-model="voucher.issue_details.issue_time">
    <p class="help-block">Enter validity issue time for voucher</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Isseued To</label>
  <div class="controls">
    <input id="issued_to" name="issued_to" placeholder="Eg: Jayram" class="input-xlarge" required="" type="text" ng-model="voucher.issue_details.issued_to">
    <p class="help-block">Enter the person to which voucher is issued</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Free Text</label>
  <div class="controls">
    <input id="free_text" name="free_text" placeholder="Eg: ......." class="input-xlarge" required="" type="text" ng-model="voucher.free_text">
    <p class="help-block">Enter any other information for voucher</p>
  </div>
</div>


<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label">Submit</label>
  <div class="controls">
    <button id="button1id" name="button1id" class="btn btn-success" ng-click="createVoucher()">Create voucher</button>
    <button id="button2id" name="button2id" class="btn btn-danger" ng-click="cancelVoucher()">Cancel voucher</button>
  </div>
</div>

</fieldset>
</form>
