<div class="clearfix"></div>
<div class="row" style="padding:3em;"></div>
<div class="row" ng-controller="DiscoverCtrl">
	<div class="col-xs-1"></div>
	<div class="col-xs-10" > <!-- ng-if="location.coords.latitude" -->
		<h1>Map view</h1>
		 <div gm-info-window="infoWindow">
		<img ng-src="{{selectedobject.program.images[0]}}" height="100" width="200" />
        <h4 >{{selectedobject.outlet.basics.name}}</h4>
        <h6>{{selectedobject.outlet.contact.location.address}}</h6>
        <a href="/outlets/#/{{selectedoutlet.publicUrl[0]}}">view details</a>
      </div>
		<section class="nearby_outlets">
			<gm-map  gm-center="center" ng-init="setMapData()" gm-zoom="zoom" gm-bounds="bounds" gm-map-id="'infoWindows'" gm-map-options="options.map" class="map"  style="height:800px;">
				<gm-markers gm-objects="data.reccos"
		                    gm-id="object.outlet.basics.id"
		                    gm-get-lat-lng="{ lat: object.outlet.contact.location.coords.latitude, lng: object.outlet.contact.location.coords.longitude}"
		                    gm-marker-options="{ title: {{object.outlet.basics.name}}, clickable: true }"
		                    gm-events="markerEvents"
		                    gm-on-openinfowindow="selectedobject = object; infoWindow.open(marker.getMap(), marker);"
		                    gm-on-click="openInfoWindow(object.outlet)">
		        </gm-markers>
			</gm-map>
		</section>
	</div>
</div>
<div class="row" style="padding:3em;"></div>
