<!DOCTYPE html>
<html ng-app="twystContest"> 
<head>
    <title>Twyst | Get in touch</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/headers/header1.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">          
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="assets/css/pages/page_contact.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <script src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/pages/contest.js"></script>
    <style type="text/css">
        .flag{
            width: 30px;
            padding-top: 3px;
        }
        .prog{
            width: 100%;
        }
        .spacing{
            margin: 14px 0px 0px 0px; 
            float: left;
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51763503-1', 'twyst.in');
      ga('send', 'pageview');

    </script>       
</head> 

<body ng-controller="ContestCtrl">
<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->    
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img id="logo-header" src="assets/img/twyst_logo_2.png" alt="Logo" height="50px" width="auto">                
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="index.html#how">
                            How it works
                        </a>                       
                    </li>
                    <li>
                        <a href="about.html">
                            About us
                        </a>                     
                    </li>
                    <li>
                        <a href="careers.html">
                            Careers
                        </a>                     
                    </li>                    
                    <li>
                        <a href="contact.html">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a href="http://twyst.in/merchant/">
                            For merchants
                        </a>
                    </li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->       

<!--=== Breadcrumbs ===-->

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Welcome to The CUPnCAKE Factory's FIFA World Cup 2014 Contest!</h1>
        <!-- <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="contact.html">Contacts</a></li>
            <li class="active">Contest</li>
        </ul> --> 
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div ng-show="user.thank_you">
                Thank you for participating. We will contact the lucky winners after the results are declared on 15th July 2014.
            </div>
            <div ng-show="user.error">
                You have already participated in the contest. Results will be declared on 15th July 2014.
            </div>
            <div class="headline"><h4>To enter the contest, fill out the details below:</h4></div>
            The CUPnCAKE Factory is running a special contest for its valued customers. Simply predict the winner of the FIFA World Cup 2014 and you could win some delicious treats! 3 lucky winners will be chosen at random from all the correct entries we receive.
            <br>
             <form ng-hide="user.error || user.thank_you" role="form">
                <div class="form-group">
                    <label>Name*</label>
                    <input class="input-xlarge form-control" type="text" ng-model="user.name"></input>
                    <div ng-hide="filled.name">
                        <small style="color:red;">Please enter your name.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mobile No* <small>(Winners will receive their voucher code via SMS)</small></label>
                    <input type="text" class="input-xlarge form-control" required="true" ng-model="user.phone">
                    <div ng-hide="filled.phone">
                        <small style="color:red;">Please enter a valid mobile number.</small>
                    </div>
                </div>
                <div class="form-group" ng-form="contestForm">
                    <label>Email ID*</label>
                    <input name="email" class="input-xlarge form-control" type="email" ng-model="user.email" required="true"></input>
                    <div ng-hide="filled.email">
                        <small style="color:red;">Please enter a valid email address.</small>
                    </div>
                </div>                
                <div class="form-group">
                    <label>My predicted winner for this year is:</label><br>
                    <div class="col-md-11">
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="BRA">&nbsp;BRA&nbsp;<img class="flag" src="../common/images/Flags/bra.jpg" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="COL">&nbsp;COL&nbsp;<img class="flag" src="../common/images/Flags/col.jpg" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="FRA">&nbsp;FRA&nbsp;<img class="flag" src="../common/images/Flags/france.gif" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="GER">&nbsp;GER&nbsp;<img class="flag" src="../common/images/Flags/germany.jpg" alt="" />
                        </div>
                    </div><br>
                    <div class="col-md-11">
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="ARG">&nbsp;ARG&nbsp;<img class="flag" src="../common/images/Flags/argentina.gif" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="BEL">&nbsp;BEL&nbsp;<img class="flag" src="../common/images/Flags/belgium.jpg" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="CRC">&nbsp;CRC&nbsp;<img class="flag" src="../common/images/Flags/costa-rica.gif" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="NED">&nbsp;NED&nbsp;<img class="flag" src="../common/images/Flags/Netherlands.jpg" alt="" />
                        </div>
                    </div><br>
                    <div class="col-md-11">
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="USA">&nbsp;USA&nbsp;<img class="flag" src="../common/images/Flags/usa.gif" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="NGA">&nbsp;NGA&nbsp;<img class="flag" src="../common/images/Flags/nigeria.jpg" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="SUI">&nbsp;SUI&nbsp;<img class="flag" src="../common/images/Flags/switzerland.gif" alt="" />
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="country" ng-model="user.message" value="ALG">&nbsp;ALG&nbsp;<img class="flag" src="../common/images/Flags/algeria.jpg" alt="" />
                        </div>
                    </div>
                    <br>
                </div>
                <br/>
                <div ng-hide="filled.message" class="form-gr">
                    <small style="color:red;">Please select your team.</small>
                </div>
                <br>
                <br>
                <h4>The CUPnCAKE Factory Program on Twyst!</h4>
                <img class="prog" src="../common/images/cupncake.png" alt="" />
                <br>
                <div class="form-group">
                    <br>
                    <input type="checkbox" name="agree" value="true" checked> I wish to join The CUPnCAKE Factory loyalty program on Twyst.
                </div>
                <button type="button" class="btn btn-success btn-lg spacing" ng-click="enterContest()">Submit</button>
                </div>
                        
                </div>
            </form>
        </div>
    </div>
</div>  
</div><!--/container-->     
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">Twyst is a start-up based out of Gurgaon, and started by Abhimanyu Lal (IIM Ahmedabad, ex-EBay), Rahul Chakraborti (IIM Bangalore, ex-Yahoo!) and Arun Rajappa (Indian School of Business, ex-Microsoft).</p>  
            </div><!--/col-md-4-->  
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline">
                            <h2>Recent Blog Entries</h2>
                        </div>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=85">
                                <dt><img src="assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>Customer Engagement for Everyone
                                    </p>
                                </dd>
                            </a>
                        </dl>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=69">
                                <dt><img src="assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>The Tech Behind Twyst
                                    </p>
                                </dd>
                            </a>
                        </dl>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=55">
                                <dt><img src="assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>Ready to Twyst?
                                    </p>
                                </dd>
                            </a>
                        </dl>
                    </div>
                </div>
                <!--/col-md-4-->
            

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div> 
                    <address class="md-margin-bottom-40">
                    #3, Navkriti Arcade, <br />
                    Sector 55, Guragaon, 122003 <br />
                    <p><a href="contact.html">Get in touch</a></p>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h2>Stay Connected</h2></div> 
                <ul class="social-icons">
                    <li><a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a></li>                    
                </ul>
            </div><!--/col-md-4-->
        </div><!--/row-->   
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                      
                <p class="copyright-space">
                    2013 &copy; Twyst Technologies Pvt. Ltd. 
                    <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">  
                <a href="index.html">
                    <img id="logo-footer" src="assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                </a>
            </div>
        </div><!--/row-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 
