<div ng-init="edit()">
<h3>Edit</h3>
<div class="alert alert-error" ng-show="auth.errors && auth.messages.info.message"><strong>Error:</strong> {{auth.messages.info.message}}</div>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">User name</label>
		<div class="controls">
			<input id="username" name="username" required="" type="text" disabled= "" ng-model="user.name"></input>
		</div>
	</div>


	<div class="control-group">
		<label class="control-label">Email Id</label>
		<div class="controls">
			<input id="email" name="email" required="" type="email" ng-model="user.email"></input>
		</div>
	</div>	

	<div class="control-group">
		<label class="control-label">Role</label>
		<div class="controls">
		    <select id="role" name="role" ng-model="user.role">
		      <option value="root">Admin</option>
		      <option value="merchant">Merchant</option>
		      <option value="manager">Manager</option>
		    </select>
		</div>
	</div>	
	<div class="control-group">
	<label class="control-label">Validated</label>
	<div class="controls">
		    <label class="checkbox">
		      <input name="validated" value="validated" ng-model="user.validated" type="checkbox">		      
		    </label>
		    </div>
	</div>		

	<div class="control-group">
		<div class="controls">
			<button id="submit" name="submit" ng-click="update(user)" class="btn btn-info">Submit</button>
		</div>
	</div>		

</form>
</div>