<div class="row-fluid">
    <div>
        <a ng-href="#/dashboard" class="btn">Home</a>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h3>All Users</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <b>Filter:</b> Role 
            <select ng-model="userRole" class="span2">
                <option ng-repeat="r in roles" value="{{r}}">{{r}}</option>    
            </select>
        </div>
        <div class="span6">
            <input class="input pull-right" type="text" ng-model="searchTerm">
            <small class="pull-right">Search &nbsp;&nbsp;&nbsp;</small>
        </div>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped" ng-show="users.length > 0">
            <thead>
                <tr> 
                    <th ng-click='getSorted("username")' style="cursor: pointer;" title="Click to sort">
                        Username <i class="fa fa-arrow-down" ng-show="sort_param === 'username' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'username' && sort_order === 1"></i>
                    </th>
                    <th ng-click='getSorted("role")' style="cursor: pointer;" title="Click to sort">
                        Role <i class="fa fa-arrow-down" ng-show="sort_param === 'role' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'role' && sort_order === 1"></i>
                    </th>
                    <th ng-click='getSorted("phone")' style="cursor: pointer;" title="Click to sort">
                        Phone <i class="fa fa-arrow-down" ng-show="sort_param === 'phone' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'phone' && sort_order === 1"></i>
                    </th>
                    <th ng-click='getSorted("created_at")' style="cursor: pointer;" title="Click to sort">
                        Joined <i class="fa fa-arrow-down" ng-show="sort_param === 'created_at' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'created_at' && sort_order === 1"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in users">
                    <td>
                        <a href="#/users/{{c.username}}">
                            {{c.username}}
                        </a>
                    </td>
                    <td>
                        {{c.role}}
                    </td>
                    <td>
                        {{c.phone}}
                    </td>
                    <td>
                        {{c.created_at | date: 'medium'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="users.length === 0" class="text-error">
            No users found.
        </div>
    </div>
    <div class="row-fluid" ng-show="users.length > 0">
        <div class="row-fluid">
            <pagination  total-items="totalUsers" page="currentPage" items-per-page="totalCountPerPage" max-size="maxSize" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>

</div>