/* Add here all your css styles (customizations) */
.zomato_image {
    height: 5em;
}
.color_black {
    font-color: black;
}
.font-size-120-xs {
    font-size: 120%;
}
.font-size-150-xs {
    font-size: 150%;
}
.google-play-xs {
    height: 3em;
    margin: 0.4em;
}
.android-button-xs {
    background-color: #f6921e;
    padding: 0 !important;
}
.image_overview_column_attribute_xs{
    height:2em;
    width: 2em;
 }

body { 
    overflow-x: hidden;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.about-section-xs .about-image-xs {
    padding: 2em;
    background: #ffff;
    border-top: solid 1px #eee;
    /*border-bottom: solid 1px #eee;*/
}
.about-image-xs {
    padding: 2em; 
}
.margin-left-pt7 {
    margin-left: 1em;
}
.padding-top-1 {
    padding-top: 1em;
}
.padding-top-3 {
    padding-top: 3em;
}
.padding-top-5 {
    padding-top: 5em;
}

.padding-top-pt5 {
    padding-top: 0.5em; 
}

.outlet_info_xs {
    background: #262626;
    text-align: center;
    color: white !important;
    margin: 4em 0em 0em 0em;
    opacity: 0.80;
    margin-top: 30px;
}
html {
    overflow-x: hidden;
}
.close {
    opacity: 1;
    color: #fff !important;
}
#no_program_view > h5, #no_program_view > h6 {
    display: flex;
    justify-content: center;
}
#lets_remove_horizontal_scroll {
    width: 90%;
}
/*overview panel */
#callout_heading_panel_overview {
    margin-top: -1.4em;
}
.padding-top-share {
    top: 1em;
}

#animated_user > i:hover{
    transform: rotate(20deg);
}
.registerme {
    text-align: center; 
    padding:1em;
    margin-top: 1em;
    
}
.registerme > h6:hover {
    color: #eb2227;
}

.flash-message-alert-login {
    text-align: center;
}
/*login form*/
.login_form > form > .form-group > input {
    margin: 0.5em 0em 0em 0em;
    padding: 0.5em;
}
.login_form > form > button {
    margin-top: 1.5em;
}
.loginform_background {
    background: url('../img/bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* discover and nearby */
.discover_outlet_controller_heading {
    padding: 4em;
    font-weight:400;
    background: #536d76;
}
#nearby_outlet_heading {
    margin: -2em 0em 2em 0em;
}
.discover_outlet_heading {
    color: #fff;font-size: 4em;font-weight:800;
}
#map_view_heading {
    text-align: center;
    margin-bottom: 0.5em;
}
.infowindow {
    padding: 1em;
    text-align: center;
}
/*nearby outlets map view */
.nearby_outlets {
    background: #000;
    border-radius: 50%;
}
.discover_search {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
/* fb share button */
.fb_iframe_widget {
    display: block !important;
}
.fb-share-button {
    margin: 1em 0em 0em 2em;
}
.smoking_avail {
    padding-right: 0px;
}
/* merchant logo */
.merchant_logo_absolute {
    position: absolute;
    z-index: 99;
    padding-top: 4em;
}
/* reset style */
.header {
    overflow: visible !important;
}
/*discover tab css */
#distance_discover_tab {
    float: right;
    font-size: 11px;
}
#distance_discover_no_location {
    z-index: 9999;
    position: absolute;
    margin: -14em 0em 0em 18em;
}
.wrap_discover {
    padding-top: 4em;
}
.outlet_image_discover {
    overflow: hidden;
    padding: 2em;
    height: 30em;
    background: #fff;
}
.outlet_image_discover > img {
    height: 200px;
    width: 100%;
    -webkit-transition: opacity 0.35s, 
    transform 0.35s;
    -webkit-transform 0.35s;
    transition: opacity 0.35s, 
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px !important;
}
.effect-discover > figcaption {
    background: transparent;
    position: relative;
}
.hidden_text{
    position: relative;
    overflow: hidden;
}
.hidden_text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #b1b1b1;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.effect-discover:hover img {
    opacity: 0.4 !important;
    -webkit-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
}
.effect-discover:hover {
    /*background: #42b078 !important;*/
    color: #fff !important;
}
.effect-discover:hover .hidden_text::after {
    -webkit-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
}
/* Badges small screen */
.badges_small_screen {
    margin: 2em 0em 1em -1em;
    display: inline-flex;
}


/*accordion */
.small-screen-accordion > .panel-heading {
    background-color: #f59221 !important;
    font-size: 12px !important;
    border-color: transparent;
}
.small-screen-accordion {
    border-color: transparent;
}
.small-screen-accordion > .panel-heading > .panel-title > a {
    font-size: 12px !important;
}
.small-screen-accordion > .panel-heading > .panel-title > a:hover {
    color: #fff;
    text-decoration: none;
}
/*popover */
.popover.top{
    width: 50%;
}
/* slick slider */
#images_single_modal\20 col-md-10 > .slick-prev:before, #images_single_modal\20 col-md-10 > .slick-next:before {
    color: #fff;
}
#modal-slider {
    margin-left: -2.5em;
    margin-top: 3em;
}
/* margin-right to a different class because it is affecting the slider on mobile.We need it to add a margin only to web single-slider */
.modal-slider_large {
    margin-right: 2em;
}

#bottom_slider_logos > .slick-list {
    background: #fff;
    padding: 2em;
}
#images_single_modal > button.slick-next:before, #images_single_modal > button.slick-prev:before{
    color: #fff;
    width: 2em;
}
.modal_slider_images_header {
    background: #000;
    color: #fff;
}
.modal-backdrop.in {
    opacity: 0.9 !important;
}
.modal-dialog {
    width: 100%;
}
.title_offer_callout{
    line-height: ;
}
/* modal slider */
.back_button_slider {
    margin: 2em;;
}
#images_single_modal > .col-md-10 > button.slick-prev:before, #images_single_modal > .col-md-10 > button.slick-prev:before, .slick-prev:before, .slick-next:before{
    font-size: 25px;
}
#modal-slider {
    height: 33em;
}
#modal-slider-mobile {
    height: 33em;
}
.modal-slider_mobile {
    height: 20em !important;
}
#modal-slider-mobile > img {
    /*padding: 2em;*/
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100%;
    width: auto;
    overflow: auto;
    position: absolute;
    margin: auto;
    margin-top: 2em;
    max-height: 480px;
    max-width: 480px;
}
.slick-prev {
    left: -20px;
}
.slick-next {
    right: -10px;
}
.modal-header {
    border-bottom: 0px solid #000;
}
#modal-slider > img {
	/*padding: 2em;*/
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100%;
    width: auto;
    overflow: auto;
    position: absolute;
    margin: auto;
    margin-top: 2em;
    max-height: 800px;
    max-width: 1200px;
}
.modal-content {
	background-color: transparent;
	box-shadow: none;
	border: 0px solid #e1e1e1;
    max-height: 60em;
}
/*header image */
.header_badges_sprite {
	display: inline-flex;
    display: -webkit-flex;
    display:-ms-flexbox;
	float: left;
	margin-right: 15em;
}
.header_badges_sprite_two {
    display: flex;
    display: -webkit-flex;
    display:-ms-flexbox;
    justify-content: center;
}
.header_badges_sprite_two > a.android_button:before {
  /*  float: left;*/
}
.header_badges_sprite_two > a.ios_button:before {
   /* float: right;*/
}
a.android_button {
	width: 128px;
 	height: 45px;
 	display: block;
	background: url(../img/images/Badges.png);
	background-position: 0px -135px;
	margin-right: 1.3em;
}
a.ios_button {
	width: 128px;
 	height: 45px;
 	display: block;
	background: url(../img/images/Badges.png);
	background-position: -128px -270px;
}
/*footer color */
.copyright {
    background-color: #000;
}
/* slick slider */
.slick-prev:before, .slick-next:before {
	color: #000;
}
#images_single_modal > .slick-prev:before, #images_single_modal > .slick-next:before {
    color: #fff;
}
.bg_color-reddish {
	background-color: #f1686c;
}
.color-reddish {
	color: #f1686c;
}
.footer {
	margin-top: 0px;
}
.header .navbar-default {
	background-color: #000;
}
.header .navbar-default .navbar-nav > li > a {
	color: #fff;
}
#facebook_like_box{
	margin-left: 0em;	
}
#services {
/*	background-color: #585f69;*/
background-color: #fff;
}
#services > div > div > h2 {
	color: #b2b2b2;
}
.content-lg {
	padding-top: 20px;
	padding-bottom: 20px;
}
#wifi_attribute{
	margin-left: -2.4em;
}
/* slider new style */
.figure_bottom_carousel {
    margin: 0;
    position: relative;
    padding: 0em 1em 0em 1em;
}
.figure_bottom_carousel img {
    display: block;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
}
.figure_bottom_carousel figcaption {
    display: block;
    position: absolute;
    z-index: 5;
}
.figure_bottom_carousel h5 {
    color: #000;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}
.figure_bottom_carousel span {
    color: #b2cce1;
    display: block;
    line-height: 1.2;
}
.figure_bottom_carousel a.close-caption {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    font-weight: 700;
    color: #315a7d;
}
.figure_bottom_carousel a.close-caption.hidden {
    display: none
}
/* effect */
a.close-caption {
    top: 10px;
    right: 10px;
}
.figure_bottom_carousel figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  /*  background-color: #00979d;*/
    background: #fff;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.figure_bottom_carousel figcaption h5 {
    margin-top: 20px;
}
.figure_bottom_carousel img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.figure_bottom_carousel:hover img,
.figure_bottom_carousel.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.figure_bottom_carousel:hover figcaption,
.figure_bottom_carousel.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

.page-header {
	padding-bottom: 0px;
}
.font-size-eleven {
	font-size: 11px !important;
}
.font-size-thirteen {
	font-size: 13px !important;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #e67e22;
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}
.outlet-slide > img {
	max-height: 200px;
	padding: 1em;
    cursor: pointer; 
    cursor: hand;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto;
    
}
#outlet_images_slider{
	padding: 1em 1em 0em 1em;
}
.tooltip-button {
	float: right !important;
	line-height: 0;
	font-size: 22px;
	margin-right: -1.1em;
}
.tooltip-button,.fa-info-circle:hover {
	color: #fff;
}
.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.label-red {
    background: red !important;
}
.label-buy {
	background: #e67e22 !important;
}
.margin-top-none {
	margin-top: 0px;
}
.label-buy-color{
	color: #e67e22 !important;
}
.no_padding_class {
	padding-left: 0px;
	padding-right: 0px;
}
#image_background {
	/*background: url(../../assets/img/images/Background5.png);*/
	background-repeat: no-repeat;
	background-size: cover!important;
}
#check_in_unlock_heading {
	margin-left: 2em;
}
.outlet_info {
	height: 18em;
	margin-top: 60px;
}
.map_location{
	margin-top: 3em;
	text-align: center;
}
#image_app {
	margin-top: -4em;
	height: 26em;
}
.rounded-x {
	padding-left: 1.4em;
	font-weight: 800;
	background-color: #72c02c;
	line-height: 3.8;
}
#check_in_title {
	margin-bottom: 20px;
}
#offer_title{
	margin-left: 2em;
}
.item > a > span {
	text-align: center;
	display: block;
	padding: 10px;
}
#check_in_heading:after{
	background: #fff !important;
}
#check_in_heading{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/*.about-section .about-image {
	padding: 1.5em;
}*/
#outlet_name {
	font-size: 2em !important;
}
/*FancyBox Hover Effect*/
.zoomer:hover .overlay-zoom .zoom-icon{
   opacity:0.4;   
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   filter: alpha(opacity = 50);
}

.overlay-zoom {
   z-index: 90;
   width: 100%;
   height: 100%;
   display: block;
   cursor: pointer;
   position: relative;     
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
}

.overlay-zoom .zoom-icon {
   top:0;   
   opacity: 0; 
   z-index: 100;
   width: inherit;
   height: inherit;
   position: absolute;
   background-color: #000;
   background-position: 50%;
   background-repeat: no-repeat;
   background-image:url("../images/zoom_in.png");
   filter: alpha(opacity = 0);
   -webkit-backface-visibility: hidden;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}


@media (max-width: 1200px) {
   .badges_small_screen {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    float: right;
   }
   #header_sprite_badges_right_margin {
    margin-right: -8em;
   }

}
@media (max-width: 990px) {
    #modal-slider > img {
        width: 80%;
        margin-top: 0em;
    }
    #modal-slider {
    margin-left: 0em;
    margin-top: 6em;
}
   #badge_outlet_info_container{
    padding-left: 0px;
    padding-right: 0px;
   }
   #badge_outlet_info_container > div.hidden-md.hidden-lg.col-xs-12.badges_small_screen {
    padding-left: 0px;
    padding-right: 0px;
   }
   #badge_outlet_info_container > div.img-center.outlet_info.col-md-7.col-sm-7.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
   }
}

@media (max-width: 768px) {
   .fancybox-overlay {
      background: none !important;
   }
   #callout_heading_panel_overview > div > div.panel-body > div:nth-child(5) > div > div:nth-child(1) {
    padding-left: 0px;
    padding-right: 0px;
   }
   #callout_heading_panel_overview > div > div.panel-body > div:nth-child(5) > div > div:nth-child(1) > div:nth-child(1) > span {
    line-height: 2;
   }

   .outlet-slide > img {
    max-height: 120px;
 /*   padding: 2%;
    margin-left: 1.6em;*/
   }
   .title-v1 > h2 {
    font-size: 20px !important;
   }
}

@media (max-width: 511px) {
   .badges_small_screen > span > a.android_button {
    margin-right: 1px;
    }
}

@media (max-width: 390px) {
    .badges_screen{
        display: none;
    }

}

@media (max-width: 370px) {
     .badges_screen{
        display: none;
    }

}

@media (max-width: 357px) and (-webkit-min-device-pixel-ratio: 3),
       (max-width: 357px) and ( min--moz-device-pixel-ratio: 3),
       (max-width: 357px) and ( -o-min-device-pixel-ratio: 3/1),
       (max-width: 357px) and ( min-device-pixel-ratio: 3)
 {
        .badges_screen{
        display: none;
    }
}
    /* Dummy CSS */
    .timeline {
    list-style: none;
    padding: 4px 0 4px;
    position: relative;
    margin-left: 2em;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 10px;
        position: relative;
    }
    .timeline-heading{
    	background-color: #00979d;
    	padding: 1em;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }
        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 90%;
            margin-left: 4em;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }
          #chrome {
        	background: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding: 5px;
        }


            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            margin-left: -25px;
            background-color: #f59221;
            z-index: 100;
            border-radius: 50% !important;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: left;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.success {
	background-color: #f1686c !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {

    figure figcaption h5 {
        margin-top: 0.4em;
    }
    /*.col-xs-12, .col-xs-4 {
        padding: 0px;
    }*/
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}