/* Add here all your css styles (customizations) */
.bg_color-reddish {
	background-color: #f1686c;
}
.color-reddish {
	color: #f1686c;
}
.footer {
	margin-top: 0px;
}
.header .navbar-default {
	background-color: #fff;
}
#facebook_like_box{
	margin-left: 0em;	
}
.content-lg {
	padding-top: 30px;
}
.about-image {
	background: none;
}
#image_background {
	background: url(../../images/BiryaniBlues.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#check_in_unlock_heading {
	margin-left: 2em;
}
.outlet_info {
	height: 18em;
}
.map_location{
	margin-top: 3em;
	text-align: center;
}
#image_app {
	margin-top: -4em;
	height: 26em;
}
.rounded-x {
	padding-left: 1.4em;
	font-weight: 800;
	background-color: #72c02c;
	line-height: 3.8;
}
#check_in_title {
	margin-bottom: 20px;
}
#offer_title{
	margin-left: 2em;
}
.item > a > span {
	text-align: center;
	display: block;
	padding: 10px;
}
#check_in_heading:after{
	background: #fff !important;
}
#check_in_heading{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.about-section .about-image {
	padding: 1.5em;
}
#outlet_name {
	font-size: 2em !important;
}
/*#zomato {
	background-image: url(../../images/zomato.jpg);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 230px;
}
#foodpanda {
	background-image: url(../../images/foodpanda.png);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 230px;
}*/
    /* Dummy CSS */
    .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-left: 2em;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 80%;
            margin-left: 4em;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            margin-left: -25px;
            background-color: #f59221;
            z-index: 100;
            border-radius: 50% !important;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: left;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.success {
	background-color: #f1686c !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}