
<div ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding:0px; margin:0px">
        <div class="col-sm-3 col-xs-3 col-md-3">
            <a class="btn btn-default  pull-left" href="#"><i class="icon ion-home t_icon"></i></a>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6">
            <center>
                <img src="assets/logo_2.png" height="70px" width="auto">
            </center>
        </div>
        <div class="col-sm-3 col-xs-3 col-md-3">
            <div ng-if="header.status.network === false">
                <a class="btn btn-danger pull-right" ng-href="#"><i class="icon ion-wifi t_icon"></i> <span style="font-size:19px">No data</span></a>
            </div>
            <div ng-if="header.status.network === true">
                <div ng-if="header.status.user === true">
                    <button class="btn btn-default pull-right" ng-click="onRefresh()"><i class="icon ion-{{refreshing}} t_icon"></i></button>
                </div>
                <div ng-if="header.status.user === false">
                    <a class="btn btn-primary pull-right" ng-href="#/signin"><i class="icon ion-social-facebook t_icon"></i> <span style="font-size:19px">Sign in</span></a>
                </div>
            </div>
        </div>
    </nav>
</div>
<br/><br/>
<div class="panel panel-primary" style="padding:15px">
    <div class="panel-body">
        <div class="list-group" ng-controller="DataCtrl">
            <div class="row list-group-item t_list">
                <h3 class="list-group-item-heading">{{near.outlet.basics.name}}</h3>
                <h4 class="list-group-item-heading">{{near.outlet.contact.location.address}}</h4>

                <div class="well">
                    <h4 class="alert alert-success">{{near.programs.0.tiers.0.offers.0.basics.title}}</h4>
                    <span>{{near.programs.0.tiers.0.offers.0.basics.description}}</span>
                    <hr/><div class="divvy text-success">This offer unlocks {{near.programs.0.tiers.0.offers.0.user_eligibility.criteria.condition}} {{near.programs.0.tiers.0.offers.0.user_eligibility.criteria.value}} checkins.</div>
                    <hr/><div class="divvy"><strong>You have {{near.programs.0.tiers.0.offers.0.user_eligibility.criteria.value - checkins(near.outlet)}} checkins to go for your next reward.</strong></div>
                    <hr/><div class="divvy">You have {{rewards(near.outlet)}} vouchers to be redeemed at this outlet.</div>
                </div>
            </div>
            <div class="row list-group-item t_list">
                <button class="button btn-lg btn-default">Follow</button>
                &nbsp;&nbsp;
                <button class="button btn-lg btn-default">Recommend</button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'./templates/partials/footer.html'"></div>