<div ng-include="'./templates/partials/header.html'"></div>
<div class="t_heading">Settings</div>
<div ng-show="refreshing" class="col-md-4">
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <button class="btn btn-lg btn-{{settings_tab === true?'success':'default'}}" ng-click="settings_tab = !settings_tab">Settings</button>
        <button class="btn btn-lg btn-{{settings_tab === false?'success':'default'}}" ng-click="settings_tab = !settings_tab">Status & Feedback</button>
    </div>
</div>        

<div ng-show="settings_tab">
    <div class="panel panel-primary">
        <div class="panel-heading">Twyst Settings</div>
        <div class="panel-body">
            <div>Erase Twyst data from your device: <button ng-click="clearCache()" class="btn btn-primary">Erase!</button></div>
            <div>Switch to low bandwidth mode: <button ng-click="stopPolling()" class="btn btn-primary">Switch!</button></div>
            <div>
                <input type="text" ng-model="phone" placeholder="Please enter your phone number">
                <button ng-click="stopPolling()" class="btn btn-primary">Update!</button>
            </div>
            <div>Signout from Twyst: <button ng-click="logout()" class="btn btn-primary">Signout!</button></div>
        </div>
        <div class="panel-footer">Twyst does not share any private data of yours</div>
    </div>

</div>
<div ng-hide="settings_tab">
    <div class="panel panel-primary">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
            <div>Network state: {{messages.network.message}}, {{messages.network.info | uppercase}}</div>
            <div>Storage state: {{messages.storage.message}}</div>
            <div>Location state: {{messages.location.message}}, ({{messages.location.info.latitude | number:2}}, {{messages.location.info.longitude | number:2}})</div>
            <div>Are you in NCR: {{messages.ncr.message}}</div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Send Feedback</div>
        <div class="panel-body">
            <div>Please send us your feedback</div>
            <div><textarea ng-model="feedback_text"></textarea></div>
            <div><button class="btn btn-success" ng-click="feedback()">Send!</button></div>
        </div>
    </div>
</div>
<div ng-include="'./templates/partials/footer.html'"></div>
