<div>
        <div class="panel panel-white" style="padding:15px; margin-top: -60px;">
            <div class="panel-heading">
                <h3>Connect to Facebook</h3>
            </div>
            <div class="panel-body ">
                <br/>
                <span>Connecting to Facebook helps us show you personalized and relevant suggestions. It also helps you check-in to and win rewards at your favourite places via Twyst!</span><br/><br/>
                <div class="alert alert-warning">
                    <span>Twyst will never share or post anything to your Facebook without your permission.</span>
                </div><br/><br/>
                <img src="assets/fb-signin.png" style="height:100px; widht:auto;"ng-click="fblogin()">
                <br/><br/>

                <div class="panel-footer">
                    <span>Note: We will open a new window to connect you to Facebook</span>
                </div>

            </div>
        </div>

</div>



