<div class="lead"></div>
<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <div class="hero-unit">
            <h2>Legal Documents</h2>
            <ul>
                <li><a href="./Privacy_Policy.pdf">Privacy Policy</a></li>
                <li><a href="./Merchant_Agreement.pdf">Merchant Agreement</a></li>
                <li><a href="./TOU.pdf">Terms of Use</a></li>
            </ul>
            <a href="#">Home</a>
        </div>
    </div>
    <div class="span1"></div>
</div>
