<div>
	<div class="row-fluid">
		<h2>Checkins</h2>
		<div class="row-fluid lead">
			Total checkins: {{data.CHECKINS.TOTAL}}
		</div>
        <div class="row-fluid">
            <h3>Checkins in date range specified: </h3>
            <div class="lead">
                P: {{data.CHECKINS.RESULTS.PANEL || 0}}<br/>
                Q: {{data.CHECKINS.RESULTS.QR || 0}}<br/>
                S: {{data.CHECKINS.RESULTS.SMS || 0}}<br/>
                B: {{data.CHECKINS.RESULTS.BATCH || 0}}
            </div>
        </div>
		<div class="row-fluid">
			<h3>
			    Daily Checkins
			</h3>
			<div>
				<table class="table table-bordered table-hover">
                    <thead>
                        <th>
                            Date
                        </th>
                        <th>
                            Twyst-ins
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="checkin in data.CHECKINS_DAILY.RESULTS">
                            <td>
                                {{checkin._id | date: 'fullDate'}}
                            </td>
                            <td>
                                {{checkin.count}}
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="row-fluid">
		<h3>Vouchers</h3>
		<div class="lead">
            <div>
                Total vouchers earned: {{data.VOUCHERS.TOTAL.EARNED}}
            </div>
            <div>
                Total vouchers redeemed: {{data.VOUCHERS.TOTAL.REDEEMED}}
            </div>
        </div>
        <div class="row-fluid">
            <h3>Vouchers in date range specified.</h3>
            <br/>
            <div class="lead">
                Vouchers earned: {{data.VOUCHERS.RESULTS.earned}}<br/>
                Vouchers redeemed: {{data.VOUCHERS.RESULTS.redeemed}}
            </div>
        </div>
		<div class="row-fluid">
			<h3>
				Daily redemptions
			</h3>
			<div>
				<table class="table table-bordered table-hover">
                    <thead>
                        <th>
                            Date
                        </th>
                        <th>
                            Redemptions
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="voucher in data.VOUCHERS_DAILY.RESULTS">
                            <td>
                                {{voucher._id | date: 'fullDate'}}
                            </td>
                            <td>
                                {{voucher.count}}
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
    <div class="row-fluid">
        <h3>Users</h3>
        <div class="lead">
            <h3>Users by checkin no</h3>
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>
                            # Checkin
                        </th>
                        <th>
                            # Users
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.USERS_BY_CHECKIN_NO.DATA">
                            <td>
                                {{item._id}}                            
                            </td>
                            <td>
                                {{item.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="lead">
            <h3>Users by APP</h3>
            <div>
                APP_USERS: {{data.USERS_BY_APP.RESULTS.APP_USERS}}<br/>
                NON_APP_USERS: {{data.USERS_BY_APP.RESULTS.NON_APP_USERS}}<br/>
            </div>
        </div>
    </div>
</div>