<div class="row">
  <div class="span7 info-header lead">
    <strong>Outlet Name & Photo</strong>
  </div>
  <div class="span5 preview-header lead">
    <strong>Preview Card</strong>
  </div>
</div>

<form role="form" name="outlet_basics" novalidate>
  <div class="row">
    <div class="span7 info-detail">
        <div id="spacing" class="row-fluid">
          <div class="row-fluid span4">
            <label>Outlet Name*</label>
          </div>
          <div class="row-fluid span8">
            <input id="outlet_name" name="outlet_name" required type="text" ng-model="outlet.basics.name" class="span7">                    
          </div>
        </div>
        <div id="spacing" class="row-fluid" style="padding-bottom:10px">
          <div class="row-fluid span4">
            <label>Checkin append message</label>
          </div>
          <div class="row-fluid span8">
            <input ng-model="outlet.checkin_message_append" class="span7">        
          </div>
        </div>
        <div id="spacing" class="row-fluid" style="padding-bottom:10px">
          <div class="row-fluid span4">
            <label>Voucher In-App</label>
          </div>
          <div class="row-fluid span8">
            <input ng-model="outlet.voucher_in_app" type="checkbox">
          </div>
        </div>
        <div id="spacing" class="row-fluid">
          <div class="row-fluid span4">
            <label>Upload an image of your establishment</label>

          </div>
          <div class="row-fluid span8">
            <div class="fileinputs span7">        
              <input style="width:70px; height:100px;" type="file" class="file" ng-file-select="onFileSelect($files)" multiple ng-disabled='disableImgUploadButton'/>
              <div class="btn btn-{{upload_color}} fakefile" ng-disabled='disableImgUploadButton'>      
                    <b>{{upload_label}}</b>
                    <div class="span12" ng-show="image_loading">
                      <progress percent="dynamicObject" class="progress-striped active"></progress>
                    </div>                   
              </div>
            </div>
            <div class="error" ng-if="image_upload_message">
              {{image_upload_message}}
            </div>          
          </div>
        </div>
    </div>
    <div class="span5 preview-detail" ng-include="'/merchant/templates/outlet/preview.html'"></div>
  </div>
  <div class="row well">
    <button class="btn btn-inverse" ng-disabled="!outlet.basics.name || outlet_basics.outlet_name.$dirty && outlet_basics.outlet_name.$invalid" ng-click="tabs[$index + 1].active=true;update_tabs[$index + 1].active=true">Next ></button>
    <button ng-click="init()" class="btn btn-warning">Clear all</button>
  </div>  
</form>