<div class="row">
    <div class="span7 info-header lead">
        <strong>Input Card</strong>
    </div>
    <div class="span5 preview-header lead">
        <strong>Preview Card</strong>
    </div>
</div>
<div class="row">
    <div class="span7 info-detail">
        <div class="row-fluid">        
            <div class="span10">
                <div>
                    <div>
                        <h4>Logo</h4>
                    </div>
                </div>
                <div>
                    <div class="span4">
                        Select image
                    </div>
                    <div class="span8" ng-if="!uploading.logo">
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" ng-file-select="uploadImageV3($files, 'logo', -1)">
                        </span>
                    </div>
                    <div class="span8" ng-if="uploading.logo">
                        <span>
                            <i class="fa fa-repeat fa-3x fa-spin fa-orange"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div  class="span2">
                <div style="padding-bottom: 1em;padding-right: 0.2em;" ng-if="outlet.photos.logo">
                    <img src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{outlet.photos.logo}}" class="img-polaroid img-rounded">
                </div>
            </div>
        </div>
        <hr/>
        <div class="row-fluid">        
            <div class="span10">
                <div>
                    <div>
                        <h4>Logo gray</h4>
                    </div>
                </div>
                <div>
                    <div class="span4">
                        Select image
                    </div>
                    <div class="span8" ng-if="!uploading.logo_gray">
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" ng-file-select="uploadImageV3($files, 'logo_gray', -1)">
                        </span>
                    </div>
                    <div class="span8" ng-if="uploading.logo_gray">
                        <span>
                            <i class="fa fa-repeat fa-3x fa-spin fa-orange"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div  class="span2">
                <div style="padding-bottom: 1em;padding-right: 0.2em;" ng-if="outlet.photos.logo_gray">
                    <img src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{outlet.photos.logo_gray}}" class="img-polaroid img-rounded">
                </div>
            </div>
        </div>
        <hr/>
        <div class="row-fluid">        
            <div class="span10">
                <div>
                    <div>
                        <h4>Background</h4>
                    </div>
                </div>
                <div>
                    <div class="span4">
                        Select image
                    </div>
                    <div class="span8" ng-if="!uploading.background">
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" ng-file-select="uploadImageV3($files, 'background', -1)">
                        </span>
                    </div>
                    <div class="span8" ng-if="uploading.background">
                        <span>
                            <i class="fa fa-repeat fa-3x fa-spin fa-orange"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div  class="span2">
                <div style="padding-bottom: 1em;padding-right: 0.2em;" ng-if="outlet.photos.background">
                    <img src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{outlet.photos.background}}" class="img-polaroid img-rounded">
                </div>
            </div>
        </div>
        <hr/>
        <!-- <h4>Other images</h4>
        <div class="row-fluid" ng-repeat="p in outlet.photos.others">        
            <div class="row-fluid">
                <div class="span10">
                    <div>
                        <div class="span4">
                            Image title
                        </div>
                        <div class="span8">
                            <span>
                                <input ng-model="p.title" type="text">
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="span4">
                            Select image
                        </div>
                        <div class="span8" ng-if="!p.uploading">
                            <span class="btn btn-primary btn-file">
                                Browse <input type="file" ng-file-select="uploadImageV3($files, 'others', $index)">
                            </span>
                        </div>
                        <div class="span8" ng-if="p.uploading">
                            <span>
                                <i class="fa fa-repeat fa-3x fa-spin fa-orange"></i>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="span4">
                            Approved 
                            <small>
                                (The image will appear on public page)
                            </small>
                        </div>
                        <div class="span8">
                            <span>
                                <input ng-model="p.approved" type="checkbox">
                            </span>
                        </div>
                    </div>
                </div>
                <div  class="span2">
                    <div style="padding-bottom: 1em;padding-right: 0.2em;" ng-if="p.image">
                        <img src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{p.image._th}}" class="img-polaroid img-rounded">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div ng-if="outlet.photos.others.length > 0">
                    <button class="btn btn-danger btn-mini" ng-click="removeImage($index)">Remove</button>
                </div>
                <div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <button class="btn btn-info" ng-click="addImage($event)">Add another image</button>
        </div> -->
    </div>
    <div class="span5 preview-detail" ng-include="'/merchant/templates/outlet/preview.html'"></div>
</div>
<div class="row well">
    <button class="btn btn-inverse" ng-click="update_tabs[$index - 1].active=true">< Back </button>
    <button class="btn btn-inverse" ng-click="fixupTags();update_tabs[$index + 1].active=true">Next ></button>
    <button ng-click="init()" class="btn btn-warning">Clear form</button>
</div>