<div ng-hide="outlet_created">
  <div class="row">
    <div class="span5 preview-header lead">
      <strong>Preview Card</strong>
    </div>
  </div>
  <div class="row">
    <div class="span5 preview-detail" ng-include="'/merchant/templates/outlet/preview.html'"></div>
  </div>
  <div class="row well">
      <button class="btn btn-inverse" ng-hide="outlet_created" ng-click="tabs[2].active=true">< Back </button>
      <button class="btn btn-success" ng-hide="update_flag || outlet_created" ng-click="create()">Save!</button>
      <button class="btn btn-success" ng-hide="outlet_created" ng-if="outlet._id" ng-click="update(outlet._id)">Update!</button>
  </div>  
</div>

<div ng-show="outlet_created">
    <div class="alert alert-success">Congratulations, your outlet has been saved! You can now...</div>
    <a ng-href="/merchant/#/offers/create/loyalty" ng-hide="publishmessage" class="btn btn-info btn-large">Create an offer</a>
    <button ng-hide="publishmessage" class="btn btn-primary btn-large" ng-click="share()">Share your outlet card on Facebook</button>
    <button ng-hide="publishmessage" class="btn btn-info btn-large" ng-click="reload()">Create another Outlet</button>
</div>
