<div class="row-fluid span12">
	<h3>Create a user</h3>
	<div>
		<div>
			<div class="row-fluid span3">
				User Role
			</div>
			<div class="row-fluid span9">
				<select id="role" name="role" ng-model="ref_user.role">
	                <option value="4">Marketing manager</option>
	                <option value="5">Outlet manager</option>
	            </select>
			</div>
		</div>
		<div ng-show="ref_user.role === '5'" ng-init="outletQuery()">
			<div class="row-fluid span3">
				Select outlet
			</div>
			<div class="row-fluid span9">
				<select ng-model="ref_user.outlet">
		        	<option ng-repeat="outlet in outlets" value="{{outlet._id}}">{{outlet.basics.name}}, {{outlet.contact.location.locality_1.toString()}}</option>
		        </select>
			</div>	
		</div>
		<div>
			<div class="row-fluid span3">
				User Name
			</div>
			<div class="row-fluid span9">
				<input id="username" name="username" required="" type="text" ng-model="ref_user.username"></input>
			</div>
		</div>
		<div>
			<div class="row-fluid span3">
				Password
			</div>
			<div class="row-fluid span9">
				<input id="password1" name="password1" type="password" ng-model="ref_user.pass1"></input>
			</div>
		</div>
		<div>
			<div class="row-fluid span3">
				Repeat Password
			</div>
			<div class="row-fluid span9">
			<div class="row-fluid span12" style="margin:0px">
				<div class="row-fluid span5">
				<input id="pass2" name="pass2" type="password" ng-model="ref_user.pass2" ng-change="checkRefPassword()"></input>
				</div>
				<div class="row-fluid span7"><label class="label label-warning" ng-hide="ref_passwords_same">Passwords dont match</label>
				</div>
			</div>
			</div>
		</div>
		<div>
			<div class="row-fluid span3">
				Email
			</div>
			<div class="row-fluid span9">
				<input id="username" name="username" type="text" ng-model="ref_user.email"></input>
			</div>
		</div>
		<div>
			<div class="row-fluid span3">
			</div>
			<div class="row-fluid span9" ng-show="!ref_user._id">
				<button class="btn btn-inverse" ng-disabled="!passwords_same" ng-click="createUser()">Create User</button>
			</div>
			<div class="row-fluid span9" ng-show="ref_user._id">
				<button class="btn btn-success" ng-disabled="!passwords_same" ng-click="updateUser(ref_user)">Update User</button>
			</div>						
		</div>
	</div>
</div>