<div class="row-fluid span12">
	<h3>Deactivate account</h3>
	<div>
		Are you sure you want to deactivate your account?<br>
        Deactivating your account will disable your profile and remove your offers & outlet from Twyst.
	</div>
	<hr>
	<div>
		<div class="row-fluid">
			Reason for leaving
		</div>
		<div class="row-fluid">
			<textarea id="address" name="address" type="text" ng-model="user.address"></textarea>
		</div>
	</div>
	<div>
		<div class="row-fluid">
			<button class="btn btn-inverse">Confirm</button>
		</div>
	</div>
</div>