<div class="row-fluid span12">
	<h3>Change password</h3>
	<div>
		<div class="row-fluid span3">
			Enter New Password
		</div>
		<div class="row-fluid span9">
			<input id="password1" name="password1" type="password" ng-model="user.pass1"></input>
		</div>
	</div>
	<div>
		<div class="row-fluid span3">
			Repeat Password
		</div>
		<div class="row-fluid span9">
			<input id="pass2" name="pass2" type="password" ng-model="user.pass2"></input>
		</div>
	</div>
	<div class="row-fluid">
		<small class="text-error" ng-if="user.pass1 && user.pass2 && (user.pass1 !== user.pass2)">*Passwords dont match</small>
		<small class="text-error" ng-if="user.pass1 && user.pass1.length < 5">*Must be at-least 5 characters</small>
	</div>
	<div>
		<div class="row-fluid span3">
		</div>
		<div class="row-fluid span9">
			<button class="btn btn-inverse" ng-disabled="!(user.pass1 || user.pass2) || (user.pass1 !== user.pass2)" ng-click="changePassword(user)">Change Password</button>
		</div>
	</div>
</div>