<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Twyst | Be loved at the places you love!</title>
 
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Twyst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="loyalty programs, customer retention, foodies, customer relationship management, customer engagement, smartphone app, Android app, Restaurant deals,      Restaurant discounts, Restaurant offers, Cafe deals, Cafe offers, Cafe discounts, Pub deals,     Pub discounts, Pub offers, loyalty rewards, check-in, location-based service, personalization,   recommender system, recommendation algorithm, be loved at the places you love!, Restaurant in gurgaon, Cafes in gurgaon, Pubs in gurgaon, Pizza in gurgaon, Pizza offers, Pizza deals, Pizza discounts">
    <!-- FAVICON -->
     <link rel="icon" href="../assets/img/twyst.ico">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/headers/header1.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/slider.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/near.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51763503-1', 'twyst.in');
      ga('send', 'pageview');

  </script>    
</head>

<body ng-app="nearApp" ng-controller="NearCtrl" ng-init="getLocation()">
    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
            </ul>
        </div>
    </div>
    <!--/top-->
    <!--=== End Top ===-->

    <!--=== Header ===-->
    <div class="header">
        <style type="text/css">
            /*
            CSS for Header goes here
            */
            .padding-top-100 {
                padding-top: 3.5em;
            }
            .header .navbar-default .navbar-nav > li > a {
                color: #fff !important;
            }
            #logo-header {
                margin-top: 0.2em;
                height: 2.7em;
                width: auto;
            }

            .app-button {
                height: 2.5em;
            }
            .header .navbar {
                background-color: #000 !important;
            }
            .margin-top-pt6em {
                margin-top: -0.8em;
                margin-left: -1em;
            }
            .margin-bottom-about {
                margin-bottom: 5em; 
            }
        </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img id="logo-header" src="../assets/img/twyst_logo_2.png" alt="Logo">       
              </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->

            <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
              <li class="margin-top-pt6em hidden-xs hidden-sm" >
                <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android"><img class="app-button" src="/outlets/assets/img/images/googleplay.png"></a>
              </li>
              <li class="margin-top-pt6em hidden-xs hidden-sm">
                  <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4" target="itunes_store"><img class="app-button" src="/outlets/assets/img/images/appstore.png"></a>
              </li>
              <li class="active"> 
                <a href="/home">
                  Home
                </a>
              </li>
              <li>
                <a href="/home/#how">
                  How it works
                </a>                       
              </li>

              <li>
                <a href="http://twyst.in/merchant/">
                  For merchants
                </a>
              </li>               

            </ul>
            <div class="search-open">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div><!-- /input-group -->
            </div>                
          </div><!-- /navbar-collapse -->
        </div>    
    </div>
    <!--/header-->
    <!--=== End Header ===-->
    <div class="row animated-icons ng-cloak margin-discover" ng-init="getFeatured()">
        <div class="container">
            <div class="row">
                <div class="headline col-md-3 col-lg-3 col-sm-4 col-xs-12" id="discover">
                    <span>
                        <h2>Discover on Map</h2>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 margin-search-bar">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                        <input class="form-control" type="text" ng-model="q" placeholder="Search for an outlet / location">
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 margin-search-button">
                        <button class="btn btn-md twyst-orange search-button" ng-click="search()">Go</button>
                    </div>
                </div>
                <div ng-show="searched" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-text">
                    Showing search results for "<b>{{q}}</b>".
                    <a href ng-click="q = null;getFeatured()" id="searchClear">clear</a>
                </div>
            </div>
            <div ng-if="results.length">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker ng-repeat="r in results" icon="r.icon" coords="r.outlet.contact.location.coords" options="marker.options" idkey="r.outlet._id" click="visible = true;">
                        <ui-gmap-window options="windowOptions" closeClick="visible = false">
                            <div style="width: 15em !important">
                                <a href="/{{r.outlet.shortUrl[0]}}">
                                    <div>
                                        <b>{{r.outlet.basics.name}}</b>
                                    </div>
                                    <div>
                                        <i class="fa fa-map-marker"></i> 
                                        <small>
                                            {{r.outlet.contact.location.locality_1[0]}}, {{r.outlet.contact.location.city}}
                                        </small>
                                    </div>
                                    <div>
                                        <i class="fa fa-gift"></i> 
                                        <small>
                                            {{r.reward.rewardified}}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </ui-gmap-window>
                    <ui-gmap-marker/>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>

    <!--End Third Slide-->
    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- About -->
                    <div class="headline">
                        <h2>About</h2>
                    </div>
                    <p>Twyst is a start-up based out of Gurgaon, started by a team with a combined experience of 40 years across product, strategy, operations and marketing. <a href="about.html">More</a></p>
                </div>
                    <!--/col-md-4-->

                <div class="col-md-4 col-sm-12 col-xs-12">      

                    <!-- Stay Connected -->
                    <div class="headline">
                        <h2>Follow</h2>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a>
                        </li>
                    </ul>
                </div>
                    <!--/col-md-4-->

                <div class="col-md-4 col-sm-12 col-xs-12 connect-margin">
                    <!-- Monthly Newsletter -->
                    

                    <!-- Stay Connected -->
                    <div class="headline">
                        <h2>Connect</h2>
                    </div>
                    <a class="btn btn-warning" href="/home/contact.html" style="color: white;line-height: 1;">Get in touch</a>
                    <a class="btn btn-warning" href="/home/careers.html" style="color: white;line-height: 1;">Work with Us</a>
                </div>
                    <!--/col-md-4-->
            </div>
                <!--/row-->
        </div>
            <!--/container-->
    </div>
    <!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-space">
                        2013 &copy; Twyst Technologies Pvt. Ltd.
                        <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="/">
                        <img id="logo-footer" src="../assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                    </a>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
        <div class="get_the_app_module row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
    <div class="footer navbar-fixed-bottom hidden-md hidden-lg twyst-background" ng-if="getMobileOperatingSystem() === 'Android'">
        <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android">
            <div class="text-center download-footer">
              <span class="color_white">GET THE APP </span>              
                <img src="/outlets/assets/img/images/googleplay.png" class="google-play-xs">
            </div>
        </a>
        <!-- <div class="text-center"  ng-if="getMobileOperatingSystem() === 'iOS'">
          <span class="color_white padding-top-pt7">GET THE APP</span>
          <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4">
            <img src="/outlets/assets/img/images/appstore.png" class="google-play-xs">
          </a>
        </div> -->
        <style type="text/css">
            .twyst-background {
                background-color: #f6921e;
            }
            .color_white {
                color: white;
            }
            .google-play-xs {
                height: 2.7em;
            }
            .download-footer {
                height: 0.3em;
                margin-top: -0.9em;
            }
        </style>
    </div>
    <!--/copyright-->
    <!--=== End Copyright ===-->

    <!-- JS Global Compulsory -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="../assets/js/angular-google-maps.min.js"></script>
    
    <script src="../assets/js/nearApp.js"></script>
</body>

</html>
