<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="contestApp">
<!--<![endif]-->

<head>
    <title>Twyst | MetroPark Foodie Challenge</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/headers/header1.css">
    <link rel="stylesheet" href="assets/css/otherstyles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/pages/page_faq.css">
    <link rel="stylesheet" type="text/css" href="assets/css/pages/page_log_reg_v2.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/plugin.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- CSS Implementing Plugins -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/orange.css" id="style_color">   
    <!-- firebase -->   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51763503-1', 'twyst.in');
      ga('send', 'pageview');

  </script>   

</head>

<body ng-controller="MyController">
    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
            </ul>
        </div>
    </div>
    <!--/top-->
    <!--=== End Top ===-->

    <!--=== Header ===-->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/index.html" style="top: 0px;">
                        <img id="logo-header" src="assets/img/twyst_logo_2.png" alt="Logo" height="50px" width="auto">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/home/index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/home/careers.html">
                                Careers
                            </a> 
                        </li>
                        <li class="active">
                            <a href="index.html">
                                Contest
                            </a> 
                        </li>
                        <li>
                            <a href="Results.html">
                                Contest Results
                            </a>
                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <!-- /navbar-collapse -->
            </div>
        </div>
    </div>
    <!--/header-->

    <!--=== End Header ===-->


    <!--=== Content Part ===-->
    <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
        <div class="breadcrumbs-v2-in" style="padding: 40px 0;">
            <h3 id="content"></h3>
            <br>
            <br>
            <br>
        </div>    
    </div>
    <!--=== FAQ Page ===-->
    <div class="container content faq-page">
        <!-- FAQ Blocks -->
        <div class="row">
            <div class="col-sm-12">
               <div class="headline label label-info" style="text-align: center; border-bottom: 0px solid #e1e1e1;margin-bottom: 10px;"><h4 style="border-bottom: 0px solid #e1e1e1;color: #fff;">This contest is now closed. Check <a href="Results.html">results</a> here. </h4></div>
               <div class="headline" style="text-align: center; border-bottom: 0px solid #e1e1e1;margin-bottom: 10px;"><h4 style="border-bottom: 0px solid #e1e1e1;">Twyst your way to being the top foodie at Metro Park each week! </h4></div>
               <div class="headline" style="text-align: center; border-bottom: 0px solid #e1e1e1;"><h4 style="border-bottom: 0px solid #e1e1e1;">The more you visit, the bigger you win. Win prizes each week & stay in the hunt for the grand prize!</h4></div>


           </div>    
       </div>

       <!-- End FAQ Blocks -->
       <div class="headline margin-bottom-20"><h2>Weekly Prizes</h2></div>
       <!-- Begin Banner Info -->
       <p style="font-size: 14px;">Each week the winner in each of these categories will win a meal voucher worth Rs. 500/- from Twyst</p>
       <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">

            <h5 class="heading-md"><a href="#"><i class="fa fa-qrcode icons_fa_styled" style="font-size: 36px;"></i></a><span style="vertical-align: super;">&nbsp;Most <span style="text-decoration: underline;">check-ins</span> for the week</span></h5>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">

            <h5 class="heading-md"><a href="#"><i class="fa fa-gift icons_fa_styled" style="font-size: 36px;"></i></a><span style="vertical-align: super;"> &nbsp;Most <span style="text-decoration: underline;">redemptions</span> for the week</span></h5>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">

            <h5 class="heading-md"><i class="fa fa-institution icons_fa_styled" style="font-size: 36px;"></i><span>&nbsp;Check-ins at most <span style="text-decoration: underline;">outlets</span> for the week</span></h5>
        </div>
        <div class="clearfix"></div>
    </div>
    <p style="font-size: 14px;">Grand Prize winner (for most check-ins over the contest duration) wins meal vouchers worth Rs. 5000/-! </p>
    <div class="clearfix"></div>
    <!-- Participating outlets block -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="headline"><h2>Outlets You Can Twyst At</h2></div>
            <wrap-owlcarousel class="owl-carousel" data-options="{autoPlay: 2000, stopOnHover: true,  slideSpeed : 500, paginationSpeed : 800, items : 4, itemsDesktop : [1199,3], itemsDesktopSmall : [979,3], itemsTablet : [768,2], itemsMobile : [479, 2], itemsScaleUp : false, responsive : true, loop : true}">  
                <div>  
                    <img class="img-responsive" src="assets/img/merchant/Kung Fu.png"/>  
                </div>  
                <div>  
                   <img class="img-responsive" src="assets/img/merchant/Crust Bistro.png" alt="">  
                </div> 
                <div>
                    <img class="img-responsive" src="assets/img/merchant/Eggers.png" alt="">
                </div> 
                <div>
                    <img class="img-responsive" src="assets/img/merchant/Chicago Pizza.png" alt="">
                </div> 
                <div>
                   <img class="img-responsive" src="assets/img/merchant/Pep Box.png" alt=""> 
                </div>
                <div>
                    <img class="img-responsive" src="assets/img/merchant/Petooz.png" alt="">
                </div>
                <div>
                   <img class="img-responsive" src="assets/img/merchant/Pitapan.png" alt=""> 
                </div>
                <div>
                    <img class="img-responsive" src="assets/img/merchant/Potato Lovers.png" alt="">
                </div>
                <div>
                   <img class="img-responsive" src="assets/img/merchant/Zaika Punjabi.png" alt=""> 
                </div>
            </wrap-owlcarousel>  
        </div>
    </div>        
        
        <!-- Participating outlets block ends -->
        <!-- FAQ Content -->
        <div class="row">
          <!-- Popular Topics -->
          <div class="col-md-6 col-sm-6 col-xs-12 col-sm-push-6">
            <div class="reg-block" style="border-top: 0px solid #e1e1e1; margin-top: -1em;">
               <div class="headline margin-bottom-20">
                <h2 class="label" style="background-color: #e67e22; color: #fff;">Sign Up for the Contest</h2>
            </div>
            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="form-group margin-bottom-20" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <!--   <span class="input-group-addon"><i class="fa fa-user"></i></span> -->
                 <input type="text" name="name" class="form-control" placeholder="Name* [More than 3 characters]" ng-minlength=3 ng-maxlength=20 ng-model="username" required novalidate />
                <span ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="text-danger">Your name is required.</span>
            </div>
            <div class="form-group margin-bottom-20" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
           <!--      <span class="input-group-addon"><i class="fa fa-envelope"></i></span> -->
                <!-- <span class="label label-danger" data-ng-show="submitted && email.$error.required">Required!</span>
                <span class="label label-danger" data-ng-show="submitted && error.email">Invalid email!</span> -->
                <input type="email" name="email" class="form-control" placeholder="Email* [name@mail.com]" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="email" required novalidate />
                <span ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="text-danger">A valid email is required.</span>
            </div>
            <div class="form-group margin-bottom-20" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
             <!--    <span class="input-group-addon"><i class="fa fa-mobile"></i></span> -->
                <input name="phone" type="text" class="form-control" placeholder="Mobile Number* [Ten digit mobile number]" ng-minlength=10 ng-maxlength=10 ng-model="phone" required novalidate >
                <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Enter a ten digit phone number</p>
            </div>
            <div class="form-group input-group margin-bottom-30" ng-controller="DatePickerCtrl">
                 <input id="appendedInput" type="text" datepicker-popup="{{format}}" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" type="date" name="dob" class="form-control" placeholder="Date of Birth [dd-mm-yyyy]" datepicker-popup="dd-mm-yyyy" ng-model="dob.date"   />
                 <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            
            <hr ng-hide="hideThis">
            <label class="checkbox" ng-hide="hideThis">
                <input type="checkbox" name="checkbox" ng-model="checkbox" required> 
                <p>I have read and agreed to abide by <a target='_blank' href="T&C.html">Terms & Conditions</a></p>
            </label>
            <div ng-show="!userForm.$pristine && userForm.checkbox.$invalid" class="alert alert-danger" >Please accept Terms and Conditions.</div>
            <div class="alert alert-success" ng-show="hideThis && !fbConnect">Thanks for registering for the contest.</div>
                                 
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-lg btn-block btn-warning margin-bottom-10" ng-click="register()" ng-disabled="userForm.$invalid" ng-hide="hideThis || submitted">Submit</button>                
                </div>
                <div class="clearfix"></div>
                <div class="form-group margin-bottom-20" ng-show="submitted">
                <!-- <span class="input-group-addon"><i class="fa fa-facebook"></i></span> -->
                <input class="btn btn-primary btn-lg btn-block" ng-click="addFB()" type="button" value="Connect with Facebook" ng-hide="fbConnect">
                <div class="alert alert-success" ng-show="fbConnect">Your Facebook is now connected</div>
            </div> 
            </div>
            </form>
            <br>

        </div>


    </div>

    <!-- Begin Tab v1 -->
    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-pull-6">
        <div class="reg-block" id="left_container_contest_page" style="border-top: 0px solid #e1e1e1; margin-top: -1em;">
            <div class="headline margin-bottom-20"><h2>How it Works</h2></div>
            <!-- Begin Banner Info -->
            <div class="banner-info dark margin-bottom-10">
                <i class="rounded-x fa fa-mobile"></i>
                <div class="overflow-h">
                    <h3>Sign Up</h3>
                    <p style="font-size: 14px;">Fill out the form on the right. Download Twyst on your iPhone or Android phone.</p>
                </div>
            </div>
            <div class="banner-info dark margin-bottom-10">
                <i class="rounded-x fa fa-qrcode"></i>
                <div class="overflow-h">
                    <h3>Check-in</h3>
                    <p style="font-size: 14px;">Scan the QR code at Metro Park outlets on Twyst each time you visit, to check-in.</p>
                </div>
            </div>
            <div class="banner-info dark margin-bottom-10">
                <i class="rounded-x fa fa-trophy"></i>
                <div class="overflow-h">
                    <h3>Win</h3>
                    <p style="font-size: 14px;">Compete to win yummy vouchers each week!</p>
                </div>
            </div>
            <!-- End Banner Info -->
            <div class="clearfix"></div>
            <br>
            <div class="headline margin-bottom-20"><h2>Get the App Today</h2></div>
            <!-- Begin Banner Info -->
            <div class="banner-info dark margin-bottom-10">
                <div class="overflow-h">
                    <p><a href="https://itunes.apple.com/us/app/twyst.in/id907877732?mt=8"><img src="assets/img/App Store Badge.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android"><img src="assets/img/Google Play Badge.png"></a></p>
                    </div>
                </div>

            </div>



        </div>

    </div><!--/col-md-6-->
    <!--End Tab v1-->

    <!--/col-md-6-->
    <!-- End Popular Topics -->
</div>        
<!-- End FAQ Content -->
<!--/container-->   
    <!-- <div class="row">
        <div class="col-md-4 md-margin-bottom-50">
            <!-- Our Services -->
                <!-- <div class="servive-block servive-block-blue">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-diamond"></i>
                    <h2 class="heading-md">Most Checkins</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
        </div>
        <div class="col-md-4 md-margin-bottom-50"> -->
            <!-- Our Services -->
                <!-- <div class="servive-block servive-block-red">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-diamond"></i>
                    <h2 class="heading-md">Most Redemptions</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
        </div>
        <div class="col-md-4 md-margin-bottom-50"> -->
            <!-- Our Services -->
               <!--  <div class="servive-block servive-block-u">
                    <h2 class="heading-md">Most Outlets</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
        </div>
    </div>  </div>  -->-
    <div class="col-xs-12" style="margin-top: -7em;">
        <div class="headline margin-bottom-20" style="text-align: center;"><h2>Check back here for leaderboard updates and winner announcements each week!</h2></div>
    </div>
    <!--=== End FAQ Page ===-->
    <!--=== Parallax Background ===-->
    <div class="parallax-bg parallaxBg1 faq-bg margin-bottom-20">            
        <div class="container content">
            <div class="headline margin-bottom-20 terms_and_conditions">
                <h2>Terms & Conditions</h2> &nbsp; <a target='_blank' href="T&C.html"><h4> Click to read</h4></a>
            </div>

            

            </div>    
        </div><!--/container--> 
    </div>    </div></div>
    <!--=== End Parallax Background ===-->

    <!--=== End FAQ Content ===-->    
</div>


<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline">
                    <h2>About</h2>
                </div>
                <p class="margin-bottom-25 md-margin-bottom-40">Twyst is a start-up based out of Gurgaon, started by a team with a combined experience of 40 years across product, strategy, operations and marketing. <a href="/home/about.html">More</a></p>

                <!-- Monthly Newsletter -->
                    <!--                <div class="headline"><h2>Monthly Newsletter</h2></div> 
                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">                            
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div>
                </form>   -->
            </div>
            <!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline">
                        <h2>Recent Blog Entries</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <a href="http://blog.twyst.in/?p=85">
                            <dt><img src="assets/img/rss.png" alt="" /></dt>
                            <dd>
                                <p>Customer Engagement for Everyone
                                </p>
                            </dd>
                        </a>
                    </dl>
                    <dl class="dl-horizontal">
                        <a href="http://blog.twyst.in/?p=69">
                            <dt><img src="assets/img/rss.png" alt="" /></dt>
                            <dd>
                                <p>The Tech Behind Twyst
                                </p>
                            </dd>
                        </a>
                    </dl>
                    <dl class="dl-horizontal">
                        <a href="http://blog.twyst.in/?p=55">
                            <dt><img src="assets/img/rss.png" alt="" /></dt>
                            <dd>
                                <p>Ready to Twyst?
                                </p>
                            </dd>
                        </a>
                    </dl>
                </div>
            </div>
            <!--/col-md-4-->


            <div class="col-md-4">

                <!-- Stay Connected -->
                <div class="headline">
                    <h2>Connect With Us</h2>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a>
                    </li>
                </ul>
                &nbsp;&nbsp;&nbsp;<a class="btn btn-warning" href="/home/contact.html" style="color: white;line-height: 1;">Get in touch</a>
            </div>
            <!--/col-md-4-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2013 &copy; Twyst Technologies Pvt. Ltd.
                    <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="index.html">
                    <img id="logo-footer" src="assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                </a>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/copyright-->
    <!--=== End Copyright ===-->
    <!--JS -->


   <!-- AngularFire Simple Login -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script src="assets/js/app.js"></script>

    <!-- JS Page Level -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
     <script type="text/javascript" src="assets/js/contestApp.js"></script>
    <!--/container-->
</div>

    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <![endif]-->
</body>
</html>
