<div class="row-fluid">
    <div class="row-fluid">
        <div class="span6">
            <h3>All Programs</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            &nbsp;
        </div>
        <div class="span6">
            <input class="input pull-right" type="text" ng-model="searchTerm">
            <small class="pull-right">Search &nbsp;&nbsp;&nbsp;</small>
        </div>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped" ng-show="programs.length > 0">
            <thead>
                <tr> 
                    <th ng-click = getSorted("name") style="cursor: pointer;" title="Click to sort">
                        Name <i class="fa fa-arrow-down" ng-show="sort_param === 'name' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'name' && sort_order === 1"></i>
                    </th>
                    <th ng-click = getSorted("validity.earn_start") style="cursor: pointer;" title="Click to sort">
                        Validity start <i class="fa fa-arrow-down" ng-show="sort_param === 'validity.earn_start' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'validity.earn_start' && sort_order === 1"></i>
                    </th>
                    <th ng-click = getSorted("validity.earn_end") style="cursor: pointer;" title="Click to sort">
                        Validity end <i class="fa fa-arrow-down" ng-show="sort_param === 'validity.earn_end' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'validity.earn_end' && sort_order === 1"></i>
                    </th>
                    <th ng-click = getSorted("status") style="cursor: pointer;" title="Click to sort">
                        Status <i class="fa fa-arrow-down" ng-show="sort_param === 'status' && sort_order === -1"></i> <i class="fa fa-arrow-up" ng-show="sort_param === 'status' && sort_order === 1"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in programs">
                    <td>
                        {{c.name}}
                    </td>
                    <td>
                        {{c.validity.earn_start | date: 'medium'}}
                    </td>
                    <td ng-class="{'validity-end': isValidityEnding(c)}">
                        {{c.validity.earn_end | date: 'medium'}}
                    </td>
                    <td>
                        <div class="btn-group">
                          <button class="btn btn-default" ng-class="{'btn-success':c.status === 'active'}" ng-disabled="c.status === 'active'" ng-click="initChange(c, 'Active')">
                            Active
                          </button>
                          <button class="btn btn-default" ng-class="{'btn-primary':c.status === 'draft'}" ng-disabled="true">
                            Draft
                          </button>
                          <button class="btn btn-default" ng-class="{'btn-danger':c.status === 'archived'}" ng-disabled="c.status === 'archived'" ng-click="initChange(c, 'Archived')">
                            Archived
                          </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="programs.length === 0" class="text-error">
            No programs found.
        </div>
    </div>
    <div class="row-fluid" ng-show="programs.length > 0">
        <div class="row-fluid">
            <pagination  total-items="totalPrograms" page="currentPage" items-per-page="totalCountPerPage" max-size="maxSize" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>

</div>