 <link rel="stylesheet" type="text/css" href="styles/style.css">
 <style type="text/css">
 .social_twitter {background: url(../../../home/assets/img/icons/social/twitter.png) no-repeat;}
 .social_facebook {background: url(../../../home/assets/img/icons/social/facebook.png) no-repeat;}
 .social_rss {background: url(../../../home/assets/img/icons/social/rss.png) no-repeat;}
 .social_tumblr {background: url(../../../home/assets/img/icons/social/tumblr.png) no-repeat;}
 .social_googleplus {background: url(../../../home/assets/img/icons/social/googleplus.png) no-repeat;}
 </style>
 <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline">
                        <h2>About</h2>
                    </div>
                    <p class="margin-bottom-25 md-margin-bottom-40">Twyst is a start-up based out of Gurgaon, started by Abhimanyu Lal (IIM Ahmedabad, ex-eBay), Rahul Chakraborti (IIM Bangalore, ex-Yahoo!) and Arun Rajappa (Indian School of Business, ex-Microsoft).</p>


                    <!-- <div class="headline">
                        <h2>Monthly Newsletter</h2>
                    </div>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form class="footer-subsribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                        </div>
                    </form> -->
                </div>
                <!--/col-md-4-->

                <div class="col-md-4 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline">
                            <h2>Recent Blog Entries</h2>
                        </div>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=85">
                                <dt><img src="../../../home/assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>Customer Engagement for Everyone
                                    </p>
                                </dd>
                            </a>
                        </dl>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=69">
                                <dt><img src="../../../home/assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>The Tech Behind Twyst
                                    </p>
                                </dd>
                            </a>
                        </dl>
                        <dl class="dl-horizontal">
                            <a href="http://blog.twyst.in/?p=55">
                                <dt><img src="../../../home/assets/img/rss.png" alt="" /></dt>
                                <dd>
                                    <p>Ready to Twyst?
                                    </p>
                                </dd>
                            </a>
                        </dl>
                    </div>
                </div>
                <!--/col-md-4-->

                <div class="col-md-4">
                    <!-- Monthly Newsletter -->
                    <div class="headline">
                        <h2>Contact Us</h2>
                    </div>
                    <address class="md-margin-bottom-40">
                    #3, Navkriti Arcade, <br />
                    Sector 55, Guragaon, 122003 <br />
                    <p><a href="contact.html">Get in touch</a></p>
                </address>

                    <!-- Stay Connected -->
                    <div class="headline">
                        <h2>Stay Connected</h2>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a>
                        </li>
                    </ul>
                </div>
                <!--/col-md-4-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-space">
                        2013 &copy; Twyst Technologies Pvt. Ltd.
                        <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="index.html">
                        <img id="logo-footer" src="../../../home/assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                    </a>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/copyright-->
    <!--=== End Copyright ===-->
