 <link rel="stylesheet" type="text/css" href="styles/style.css">
 <style type="text/css">
 .social_twitter {background: url(../../../home/assets/img/icons/social/twitter.png) no-repeat;}
 .social_facebook {background: url(../../../home/assets/img/icons/social/facebook.png) no-repeat;}
 .social_rss {background: url(../../../home/assets/img/icons/social/rss.png) no-repeat;}
 .social_tumblr {background: url(../../../home/assets/img/icons/social/tumblr.png) no-repeat;}
 .social_googleplus {background: url(../../../home/assets/img/icons/social/googleplus.png) no-repeat;}
 </style>
 <!--=== Footer ===-->
  
    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <span class="copyright-space">
                        2013 &copy; Twyst Technologies Pvt. Ltd.
                        <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                    </span>
                    
                </div>
                <div class="col-md-5">
                <span class="footer_menu_items">
                      <img id="google_play" alt="Get it on Google Play" src="images/googleplay.png" />
                    </span>
                    <span class="footer_menu_items">
                      <img alt="Get it on App Store" src="images/appstore.png" />
                    </span>
                    <a href="index.html">
                        <img id="logo-footer" src="../../../home/assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                    </a>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/copyright-->
    <!--=== End Copyright ===-->
