<link rel="stylesheet" type="text/css" href="../../../home/assets/css/headers/header1.css">

<!--=== Header ===-->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="../../../home/assets/img/twyst_logo_2.png" alt="Logo" height="50" width="auto" >
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="index.html">
                            Home
                        </a>
                        </li>
                        <li class="dropdown">
                            <a href="index.html#how">
                            How it works
                        </a> 
                        </li>
                        <li>
                            <a href="about.html">
                            About us
                        </a> 
                        </li>
                        <li class="dropdown">
                            <a href="careers.html">
                            Careers
              `          </a> 
                        </li>
                        <li>
                            <a href="contact.html">
                            Contact us
                        </a>
                        </li>
                        <li>
                            <a href="http://twyst.in/merchant/">
                            For merchants
                        </a>
                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <!-- /navbar-collapse -->
            </div>
        </div>
    </div>
    <!--/header-->
    <!--=== End Header ===-->