 <div ng-controller="OutletCtrl">
   <div class="modal-body">
         <div id="images_single_modal" slider-single="{infinite:false}">
          <div class="slide" id="modal-slider" ng-repeat="x in [1,2,3,4,5]" style="width: 500px;">
          <img ng-src="https://s3-us-west-2.amazonaws.com/twystmerchantpages/merchants/{{outlet.basics.slug}}/{{outlet.basics.slug}}{{x}}.png" alt=""style="max-height: 500px; width: 100%;">
          <div class="col-md-12">
            <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
              </div>
            </div>
         </div>   
    </div>
 </div>
       


     