 <div ng-controller="OutletCtrl">
   <div class="modal-body">
         <div slider-single="{infinite:false}">
          <div class="slide" id="modal-slider">
          <img ng-src="images/BB-IMAGE.png" alt="">
         </div>
         <div class="slide" id="modal-slider">
          <img ng-src="images/BB-IMAGE.png" alt="">
        </div>
        <div class="slide" id="modal-slider">
          <img ng-src="images/BB-IMAGE.png" alt="">
        </div>
        <div class="slide" id="modal-slider">
          <img ng-src="images/BB-IMAGE.png" alt="">
        </div>

      </div>     
    </div>
 </div>
       


     