<div class="row">
  <div class="span7 info-header lead">
    <strong>Pick participating outlets</strong>
  </div>
  <div class="span5 preview-header lead">
    <strong>Preview Card</strong>
  </div> 
</div>
<div class="row">
  <div class="span7 lead">
      <div class="row-fluid span8 offset2" style="margin:0px" ng-repeat="fruit in all_outlets">
        <input id="checkbox" type='checkbox' ng-checked="program.outlets.indexOf(fruit._id) != -1" ng-click="toggleOutlets(fruit._id)"> {{fruit.basics.name}}, {{fruit.contact.location.locality_1.toString()}}<br>
      </div>
  </div>
  <div class="span5 preview-detail" ng-include="'/merchant/templates/offer/preview.html'"></div>
</div>
<div class="row well">
  <button class='btn btn-inverse' ng-click="tabs[3].active=true"> < Back</button>
  <button class="btn btn-inverse" ng-disabled="!program.name || offer_basics.program.name.$dirty && offer_basics.program.name.$invalid" ng-click="tabs[5].active=true">Next ></button>
  <button ng-click="clear()" class="btn btn-warning">Clear</button>
</div>
