@font-face {
    font-family: 'OpenSans';
    src: URL('../assets/fonts/sapient/SAPISM.TTF') format('truetype');
}
@font-face {
    font-family: 'OpenSansBold';
    src: URL('../assets/fonts/sapient/SAPISB.TTF') format('truetype');
}

.terms-font {
    font-size:70% !important;
}

.font-short {
    font-size:75% !important;
} 

.well-enabled {
    background-color: white;
}

.focused-input {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.well-disabled {
    background-color: #E6E6E6;
}

.padding_small {
    padding:15px;
}

.t_main {
    font-size: 21px;
}

.row {
    margin: 0px !important;
}

.t_icon {
    color:white;
    font-size:36px !important;
}

.t_icon_grey {
    color:lightslategrey;
    font-size:28px
}


.t_icon_heart {
    color: #D91B5B;
    font-size:32px
}
.t_icon_share {
    color:#4680C2;
    font-size:32px
}
.padding_top_big {
    padding-top:90px;
}

.padding_top_too_big {
    padding-top:150px;
}

span, button, .divvy, li  {
    font-size: 22px !important;
}

.tagbox {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: 1;
    color: #4680C2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-decoration: underline;
}

.rewardbox {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #8CC63E;
}

.tagdot {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: 1;
    color: #4680C2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.tline {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid white;
}

.t_head {
    font: OpenSansBold, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.t_facebook_signin img {
    width: 200px;
    height: auto;
}
body {
    background-color: white;
    font-family: OpenSans, sans-serif;
     padding-bottom: 70px;
}

.panel-white {
    background-color: white;
    border: 1px solid #4680c2 !important;
}

.panel-white .panel-heading {
    background-color: white;
    border-bottom: 1px solid #F05A28 !important;
}
.t_box {
    border: 1px solid orangered;
    padding: 10px;
}

span, div, p, li, a, h1, h2, h3, h4, button {
    font-family: OpenSans, sans-serif;
}

.tag {
    color: red;
    text-decoration: underline;
    font-size: smaller;
}
.startup_error {
    padding: 5px;
    border: 1px solid #ac2925;
}

.place {
    color:green;
    text-decoration:underline
}

.img-small {
    height: 50px;
    width: 50px;
}

.list-group-item:nth-child(even) {
    background-color: orange;
}
map, div[map] {display:block; width:600px; height:400px;}
.list-group-item:nth-child(odd) {
    background-color: #F8F8FF;
    padding: 10px;
}

.angular-google-map-container {
    width: 500px;
    height: 500px;
}

.angular-google-map {
    top: 80px;

}


.list-group-item {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #808080;
    margin: 5px !important;
    box-shadow: 1px 1px 2px 0px darkslategrey;

}

.t_reward {
    background-color: #FFF2BC !important;
}

.t_redemption {
    background-color: #d3d3d3 !important;
}

.t_checkin {
    background-color: white !important;
}
.t_favourite {
    background-color: white !important;
}

.btn-smf {
  padding: 5px 5px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

body {
    padding-top:60px
}

.checkin {
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    -webkit-box-shadow: 5px 5px 5px #888888;

}

.foot {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid white;
    margin-top: 5px;
}

.well {
    margin: 0px !important;
}

.top {
    background-color: white;
}

.panel {
    border-bottom: none;
}
.panel-body {
    padding: 0px !important;
}

.ti {
    padding-top:10px;
    padding-left:5px;
}

.tb {
    border: 1px solid #161616;
    box-shadow: 3px 3px 3px #161616;
    -moz-box-shadow: 3px 3px 3px #161616;
    -webkit-box-shadow: 3px 3px 3px #161616;

}

.btn-white {
    background-color: white;
    text-align: left;
    padding-left: 15px;
}
.btn-grey {
    background-color: #b6b6b6
}

.btn-success, .alert-success {
    background-color: #8CC63E;
}

.outlet_name {
    color: #BC212D;
    font-weight: bold;
    font: OpenSansBold, sans-serif !important;
}

.btn-danger, .alert-danger {
    background-color: #D91B5B;
}

.btn-warning, .alert-warning {
    background-color: #f6921e !important;
}

.btn-primary, .alert-primary {
    background-color: #4680C2;
}

.t_recco a {
    text-decoration: none;
}

.tbig {
    font-size:18px;
    color: orange;
}

.tbig1 {
    font-size:24px;
    color: orange;
}

.alert {
    margin: 0px !important;
}

.container {
    padding: 5px !important;
}

.wellorange {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FEF3E8;
  border: 1px solid orange;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}

.wellsmall {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 1px;
  background-color: #FEF3E8;
  border: 1px solid orange;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.badgered {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #EA001D;
  border-radius: 10px;
}

