<div class="row-fluid span12 panel-page" ng-init="refresh()">
    <div class="row-fluid span9 panel-part1">
        <div class="row-fluid">
            <div class="row-fluid span5">
                <div ng-init="outletQuery()">
                    <div class="card-checkin">
                        <div class="row-fluid outlethead">
                            <div class="span6">
                                <h4 class="card-padding2">Selected Outlet</h4>
                            </div>
                            <div class="span6 center-select">
                                <select id="offer_valid_on_outlets" ng-model="selected_outlet" ng-show="outlets.length > 1" class="span12">
                                    <option value="{{o._id}}" ng-repeat="o in outlets">{{o.basics.name}}, {{o.contact.location.locality_1.toString()}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row-fluid outletcard-body">
                            <div ng-show="outlet.basics.is_a" tooltip-placement="top" tooltip="{{outlet.basics.is_a}}" style="padding-left:15px;" class="span3"><img style="border:2px solid black" class="img-polaroid" src="../../../common/images/transparent/{{outlet.basics.is_a}}.png" width="40px" height="40px"></div>
                            <div class="span9">
                                <div class="outlet-name">{{outlet.basics.name}} ({{outlet.contact.location.locality_1.toString()}})</div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="row-fluid span7">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="card-checkin">
                            <div class="cardhead">
                                <h3 class="card-padding">Program</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="row-fluid" ng-init="getPrograms()">
                                        <select ng-model="program" ng-options="Quarter.name for Quarter in programs" class="span12">
                                        </select>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="span3 checkin-table" tooltip="Total checkins">
                        <div class="card-checkin" ng-click="checkinsModal()">
                            <div class="cardhead">
                                <h3 class="card-padding">Check-ins</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/favicon/twyst.ico" width="32px" height="32px" title="Checkins">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.checkin === null ? '--' : counts.checkin}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="span3 voucher-table" tooltip="Total vouchers generated" ng-click="vouchersModal()">
                        <div class="card-voucher">
                            <div class="cardhead">
                                <h4 class="card-padding">Vouchers Generated</h4>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/gift_given.png" width="32px" height="32px" title="Vouchers">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.voucher === null ? '--' : counts.voucher}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="span3 redeem-table" tooltip="Total voucher Redemptions" ng-click="redeemsModal()">
                        <div class="card-redeemed">
                            <div class="cardhead">
                                <h3 class="card-padding">Vouchers Used</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/gift_used.png" width="32px" height="32px" title="Redemptions">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.redeem === null ? '--' : counts.redeem}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="row-fluid span5">
                <div class="row-fluid" tooltip="Your check-in is disabled. You do not have any active program running." tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[program.status !== 'active']}}">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Check-in a User</h3>
                        </div> 
                        <div class="panel-action-body"> 
                            <div ng-controller="DatePickerCtrl" class="row-fluid">
                                <div class="row-fluid" ng-show="isAuthorized()">
                                    <div class="span4">
                                    Checkin date:
                                    </div>
                                    <div class="span8">
                                       <input id="appendedInput" class="input-small" type="text" datepicker-popup="{{format}}" is-open="opened" min="min_date" max='max_date' datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Start date" type="date" style="margin:0px;" ng-model="checkin.created_date" ng-disabled="true"/>
                                        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                            <form name="checkinForm">
                                <div class="row-fluid" style="line-height: 30px;">
                                    Location: <input type="radio" id="r1" ng-show= "outlet.attributes.dine_in == true" ng-model="checkin.location" value="DINE_IN" ng-change="checkin_select_dirty = false" ng-checked="outlet.attributes.dine_in == true && outlet.attributes.home_delivery == false"> 
                                    <label for="r1" ng-show= "outlet.attributes.dine_in == true"> Dine-In</label> 
                                    <input type="radio" id="r2" ng-model="checkin.location" ng-show= "outlet.attributes.home_delivery == true" value="HOME_DELIVERY" ng-change="checkin_select_dirty = false" ng-checked="outlet.attributes.dine_in == false && outlet.attributes.home_delivery == true"> 
                                    <label for="r2" ng-show= "outlet.attributes.home_delivery == true"> Home Delivery / Take-away</label>
                                </div>
                                <div class="row-fluid">
                                    <small class="text-error" ng-show="checkin_select_dirty && outlet.attributes.dine_in == true && outlet.attributes.home_delivery == true">* Please select Dine-in / Home delivery / Take-away.</small>
                                </div>                      
                                <div class="row-fluid">
                                    <input type="text" placeholder="10 digit mobile number" id="phone_no" name="phone_no" required="true" ng-model="checkin.phone_no" ng-change="checkin_phone_no_dirty = false"   ng-disabled="program.status !== 'active'">
                                    <button type="submit" class="btn btn-custom btn-warning" ng-click="createCheckin()" ng-disabled="loading || program.status !== 'active'">Check-in</button>
                                </div>
                                <div class="row-fluid">
                                    <small class="text-error" ng-show="checkin_phone_no_dirty">* Please enter a 10 digit mobile number.</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Redeem Voucher</h3>
                        </div>
                        <div class="panel-action-body">
                            <form name="voucherForm">
                                <div class="row-fluid">
                                    <input type="text" placeholder="Voucher code" id="voucher_code" name="voucher_code" required="true" ng-model="code">
                                    <button type="submit" class="btn btn-custom btn-warning" ng-click="getVoucherDetails()">Get details</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Search Voucher</h3>
                        </div>
                        <div class="panel-action-body">
                            <form name="voucherSearchForm">
                                <div>
                                    <input type="text" placeholder="10 digit mobile number" id="voucher_code" name="voucher_code" required="true" ng-model="phone" ng-change="phone_no_dirty = false">
                                    <button type="submit" class="btn btn-custom btn-warning" ng-click="getVoucherDetailsByPhone()">Search</button>
                                </div>
                                <div class="row-fluid">
                                    <small class="text-error" ng-show="phone_no_dirty">* Please enter a 10 digit mobile number.</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row-fluid span7">
                <div class="paneltemplates">
                    <div class="row-fluid offset5" style="margin-top: 25%" ng-show="loading">
                        <img src="../../../common/images/panel_loading.GIF">
                    </div>
                    <div ng-hide="loading">
                        <div ng-show="template.success">
                            <div ng-include="'./templates/panel/successpage.html'" onload=""></div>
                        </div>
                        <div ng-show="template.voucher">
                            <div ng-include="'./templates/panel/voucher.html'" onload=""></div>
                        </div>
                        <div ng-show="template.user">
                            <div class="row-fluid paneldata-voucher">
                                <div class="span10">
                                    <div>
                                        User: <b>{{phone}}</b>
                                    </div>
                                    <div>
                                        Total check-in(s) in this program:<b> {{CHECKIN_COUNT}}</b>
                                    </div>
                                </div>
                                <div class="span10">
                                    <hr/>
                                </div>
                                <div class="row-fluid span10">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <b>Vouchers</b>
                                        </div>
                                        <div class="span6">
                                            Filter by:<select ng-model="voucher_filter" ng-options="Quarter for Quarter in ['Active', 'Used', 'Expired', 'All']" ng-value="Quarter" class="span6 pull-right" ng-change="filterChanged(voucher_filter)">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-include="'./templates/panel/user_vouchers.html'" onload=""></div>
                        </div>
                        <div ng-show="template.error">
                            <div ng-include="'./templates/panel/errorpage.html'" onload=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid span3 notif">
        <div class="row-fluid activity-background">
            <div class="row-fluid">
                <div class="activity-padding">
                    <span>Activity Feed</span>
                    <span class="pull-right pointer">
                        <img src="../../../common/images/refresh.png" width="20px" height="20px" title="Click to refresh" ng-click="refresh();">
                    </span>
                </div>
                <hr/>
            </div>
            <div class="row-fluid notif-padding notifications" when-scrolled="loadMore()">
                <div class="notif-error-font" ng-hide="notifs.length > 0">
                    <center>No notifications.</center>
                </div>
                <div class="row-fluid" ng-repeat="notif in notifs">
                    <div class="row-fluid" ng-show="notif.type === 'REDEEM'">
                        <div class="span2">
                            <img src="../../../common/images/gift_used.png" width="32px" height="32px" title="Redemptions">
                        </div>
                        <div class="span10">
                            Voucher <b>{{notif.data.basics.code}}</b> used by 
                            <b>{{notif.phone}}</b> on 
                            {{notif.date | date: 'mediumDate'}} at <b>{{notif.data.used_details.used_at.basics.name}} {{notif.data.used_details.used_at.contact.location.locality_1.toString()}}</b> -
                            {{notif.data.issue_details.issued_for.basics.description}} -
                            {{notif.data.issue_details.issued_for.terms}}
                        </div>
                        <div class="span10 padding-notif-top">
                            <small class="grayed">{{notif.actual_date | date: 'MMM d, y h:mm a'}}</small>
                        </div>
                        <div class="span10 offset2" ng-hide="notif.data.basics.status !== 'user redeemed'">
                            <button class="btn btn-small btn-success btn-shadow" ng-click="changeVoucherStatus(notif.data.basics.code)">Ok. We gave the Reward!</button>
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'CHECKIN'">
                        <div class="span2">
                            <img src="../../../common/images/favicon/twyst.ico" width="32px" height="32px" title="Checkins">
                        </div>
                        <div class="span10">
                            User <b>{{notif.data.phone}}</b> checked-in via <b>{{notif.data.checkin_type}}</b> on <b>{{notif.date | date: 'mediumDate'}}</b>.  
                        </div>
                        <div class="span10 padding-notif-top">
                            <small class="grayed">{{notif.actual_date | date: 'MMM d, y h:mm a'}}</small>
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'VOUCHER'">
                        <div class="span2">
                            <img src="../../../common/images/gift_given.png" width="32px" height="32px" title="Vouchers">
                        </div>
                        <div class="span10">
                            Voucher generated on <b>{{notif.date | date: 'mediumDate'}}</b>.
                        </div>
                        <!-- <button class="btn btn-small btn-success btn-shadow" ng-click="changeVoucherStatus(notif.basics.code)">Ok. We gave the Reward!</button> -->
                        <div class="span10 padding-notif-top">
                            <small class="grayed">{{notif.actual_date | date: 'MMM d, y h:mm a'}}</small>
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'FAVS'">
                        <div class="span2">
                            <img src="../../../common/images/favs.png" width="32px" height="32px" title="Favourites">
                        </div>
                        <div class="span10">
                            User <b>{{notif.phone}}</b> favourited your offer on <b>{{notif.date | date: 'mediumDate'}}</b>.
                        </div>
                        <div class="span10 padding-notif-top">
                            <small class="grayed">{{notif.actual_date | date: 'MMM d, y h:mm a'}}</small>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>