<div class="row-fluid span12 panel-page" ng-init="refresh()">
    <div class="row-fluid span9 panel-part1">
        <div class="row-fluid">
            <div class="row-fluid span5">
                <div ng-init="outletQuery()">
                    <div class="card-checkin">
                        <div class="row-fluid outlethead">
                            <div class="span6">
                                <h4 class="card-padding2">Selected Outlet</h4>
                            </div>
                            <div class="span6 center-select">
                                <select id="offer_valid_on_outlets" ng-model="selected_outlet" ng-show="outlets.length > 1" class="span12">
                                    <option value="{{o._id}}" ng-repeat="o in outlets">{{o.basics.name}}, {{o.contact.location.locality_1.toString()}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-fluid outletcard-body">
                            <div ng-show="outlet.basics.is_a" tooltip-placement="top" tooltip="{{outlet.basics.is_a}}" style="padding-left:15px;" class="span3"><img style="border:2px solid black" class="img-polaroid" src="../../../common/images/transparent/{{outlet.basics.is_a}}.png" width="40px" height="40px"></div>
                            <div class="span9">
                                <div class="outlet-name">{{outlet.basics.name}} ({{outlet.contact.location.locality_1.toString()}})</div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="row-fluid span7">
                <div class="row-fluid">
                    <div class="span4" tooltip="Total checkins">
                        <div class="card-checkin">
                            <div class="cardhead">
                                <h3 class="card-padding">Check-ins</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/favicon/twyst.ico" width="32px" height="32px" title="Checkins">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.checkin === null ? '--' : counts.checkin}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="span4" tooltip="Total vouchers generated">
                        <div class="card-voucher">
                            <div class="cardhead">
                                <h3 class="card-padding">Vouchers Generated</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/gift_given.png" width="32px" height="32px" title="Vouchers">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.voucher === null ? '--' : counts.voucher}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="span4" tooltip="Total voucher Redemptions">
                        <div class="card-redeemed">
                            <div class="cardhead">
                                <h3 class="card-padding">Vouchers Used</h3>
                            </div>
                            <div>
                                <center>
                                    <div class="span3 image-padding">
                                        <img src="../../../common/images/gift_used.png" width="32px" height="32px" title="Redemptions">
                                    </div>
                                    <div>
                                        <div class="data-font">{{counts.redeem === null ? '--' : counts.redeem}}</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="row-fluid span5">
                <div class="row-fluid">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Check-in a User</h3>
                        </div>
                        <div class="panel-action-body"> 
                            <div class="row-fluid" style="line-height: 30px;">
                                Select one: <input type="radio" ng-model="checkin.location" value="DINE_IN" ng-change="checkin_select_dirty = false"> Dine-in <input type="radio" ng-model="checkin.location" value="HOME_DELIVERY" ng-change="checkin_select_dirty = false"> Home delivery
                            </div>
                            <div class="row-fluid">
                                <small class="text-error" ng-show="checkin_select_dirty">* Please select one.</small>
                            </div>                      
                            <div class="row-fluid">
                                <input type="text" placeholder="10 digit mobile number" id="phone_no" name="phone_no" required="true" ng-model="checkin.phone_no" ng-change="checkin_phone_no_dirty = false">
                                <button type="submit" class="btn btn-custom btn-warning" ng-click="createCheckin()">Check-in</button>
                            </div>
                            <div class="row-fluid">
                                <small class="text-error" ng-show="checkin_phone_no_dirty">* Please enter a 10 digit mobile number.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Redeem Voucher</h3>
                        </div>
                        <div class="panel-action-body">
                            <input type="text" placeholder="Voucher code" id="voucher_code" name="voucher_code" required="true" ng-model="code">
                            <button type="submit" class="btn btn-custom btn-warning" ng-click="getVoucherDetails()">Get details</button>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="card-checkin">
                        <div class="outlethead">
                            <h3 class="card-padding1">Search Voucher</h3>
                        </div>
                        <div class="panel-action-body">
                            <div>
                                <input type="text" placeholder="10 digit mobile number" id="voucher_code" name="voucher_code" required="true" ng-model="phone" ng-change="phone_no_dirty = false">
                                <button type="submit" class="btn btn-custom btn-warning" ng-click="getVoucherDetailsByPhone()">Search</button>
                            </div>
                            <div class="row-fluid">
                                <small class="text-error" ng-show="phone_no_dirty">* Please enter a 10 digit mobile number.</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row-fluid span7">
                <div class="paneltemplates">
                    <div class="row-fluid offset5" style="margin-top: 25%" ng-show="loading">
                        <img src="../../../common/images/panel_loading.GIF">
                    </div>
                    <div ng-hide="loading">
                        <div ng-show="template.success">
                            <div ng-include="'./templates/panel/successpage.html'" onload=""></div>
                        </div>
                        <div ng-show="template.voucher">
                            <div ng-include="'./templates/panel/voucher.html'" onload=""></div>
                        </div>
                        <div ng-show="template.user">
                            <div ng-include="'./templates/panel/user_vouchers.html'" onload=""></div>
                        </div>
                        <div ng-show="template.error">
                            <div ng-include="'./templates/panel/errorpage.html'" onload=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid span3 notif">
        <div class="row-fluid activity-background">
            <div class="row-fluid">
                <div class="activity-padding">
                    <span>Activity Feed</span>
                    <span class="pull-right pointer">
                        <img src="../../../common/images/refresh.png" width="20px" height="20px" title="Click to refresh" ng-click="refresh();">
                    </span>
                </div>
                <hr/>
            </div>
            <div class="row-fluid notif-padding notifications" when-scrolled="loadMore()">
                <div class="notif-error-font" ng-hide="notifs.length > 0">
                    <center>No notifications.</center>
                </div>
                <div class="row-fluid" ng-repeat="notif in notifs">
                    <div class="row-fluid" ng-show="notif.type === 'REDEEM'">
                        <div class="span2">
                            <img src="../../../common/images/gift_used.png" width="32px" height="32px" title="Redemptions">
                        </div>
                        <div class="span10">
                            Voucher <b>{{notif.data.basics.code}}</b> used by 
                            <b>{{notif.phone}}</b> on 
                            {{notif.data.used_details.used_time | date: 'medium'}} at <b>{{notif.data.used_details.used_at.basics.name}} {{notif.data.used_details.used_at.contact.location.locality_1.toString()}}</b> -
                            {{notif.data.issue_details.issued_for.basics.description}} -
                            {{notif.data.issue_details.issued_for.terms}}
                        </div>
                        <div class="span10 offset2" ng-hide="notif.data.basics.status !== 'user redeemed'">
                            <button class="btn btn-small btn-success btn-shadow" ng-click="changeVoucherStatus(notif.data.basics.code)">Ok. We gave the Reward!</button>
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'CHECKIN'">
                        <div class="span2">
                            <img src="../../../common/images/favicon/twyst.ico" width="32px" height="32px" title="Checkins">
                        </div>
                        <div class="span10">
                            User <b>{{notif.data.phone}}</b> checked-in via <b>{{notif.data.checkin_type}}</b> at <b>{{notif.date | date: 'medium'}}</b>.  
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'VOUCHER'">
                        <div class="span2">
                            <img src="../../../common/images/gift_given.png" width="32px" height="32px" title="Vouchers">
                        </div>
                        <div class="span10">
                            Voucher generated for user <b>XXXXX</b> at <b>{{notif.date | date: 'medium'}}</b>.
                        </div>
                        <!-- <button class="btn btn-small btn-success btn-shadow" ng-click="changeVoucherStatus(notif.basics.code)">Ok. We gave the Reward!</button> -->
                    </div>
                    <div class="row-fluid" ng-show="notif.type === 'FAVS'">
                        <div class="span2">
                            <img src="../../../common/images/favs.png" width="32px" height="32px" title="Favourites">
                        </div>
                        <div class="span10">
                            User <b>{{notif.phone}}</b> favourited your offer at <b>{{notif.date | date: 'medium'}}</b>.
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>