<div class="row-fluid paneldata-voucher">
	<div class="row-fluid span10">
		<div class="row-fluid">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							Code
						</th>
						<th>
							Status
						</th>
						<th>
							Reward
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="voucher in filtered_vouchers">
						<td>
							<b>{{voucher.basics.code}}</b>
						</td>
						<td>
							{{getStatus(voucher)}}
						</td>
						<td>
							{{voucher.issue_details.issued_for ? rewardify(voucher.issue_details.issued_for) : rewardify(voucher.issue_details.winback)}}
						</td>
						<td>
							<button class="btn btn-xs btn-success" ng-click="getDetails(voucher)">Details</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="filtered_vouchers.length === 0">
				No {{(voucher_filter === 'All') ? '' : voucher_filter}} vouchers for this user.
			</div>
		</div>
	</div>
</div>