<div class="row-fluid paneldata-voucher">
    <div>
        Voucher <b class="{{voucherStatusClass(voucher)}}">
         {{checkVoucherApplicability(voucher)}}
        </b>
    </div>
    <div ng-show="voucher.used_details.used_time">
        <b>Used time: </b>{{voucher.used_details.used_time | date:'medium'}}
    </div>
    <div>
        <b>Code: </b>{{voucher.basics.code}}
    </div>
    <div>
        <b>Issued to: </b>{{voucher.issue_details.issued_to.phone}}
    </div>
    <div>
        <b>Reward details: </b> {{voucher.issue_details.issued_for.basics.description}}
    </div>
    <div>
        <b>T & C: </b>{{voucher.issue_details.issued_for.terms}}
    </div>
    <div> 
        <b>Reward Applicability: </b>{{voucher.issue_details.issued_for.reward_applicability.time_of_day.toString() === 'all day' ? 'All through the day;': voucher.issue_details.issued_for.reward_applicability.time_of_day.toString()+";"}} {{voucher.issue_details.issued_for.reward_applicability.day_of_week.toString() === 'all days' ? 'All days of the week' : voucher.issue_details.issued_for.reward_applicability.day_of_week.toString()}} 
    </div>
    <div>
        <b>Validity: </b>{{voucher.issue_details.program.validity.burn_start | date:'medium'}} to {{voucher.issue_details.program.validity.burn_end | date:'medium'}}
    </div>
    <hr/>
    <div class="row-fluid" ng-show="voucher.basics.status === 'active' && !isVoucherExpired(voucher)">
        <div class="row-fluid">
            <h4>To Redeem this voucher, select date and click button</h4>
        </div>
        <div class="row-fluid">
            <div  class="span6" ng-controller="DatePickerCtrl" class="row-fluid">
                <div ng-show="isAuthorized()">
                    <div class="span5">
                    Select Date:
                    </div>
                    <div class="span7">
                       <input id="appendedInput" class="input-small" type="text" datepicker-popup="{{format}}" is-open="opened" min="min_date" max='max_date' datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Start date" type="date" style="margin:0px;" ng-model="used.time" />
                        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="span6">
                <button class="btn btn-success btn-shadow" ng-click="createRedeem()">Ok. We gave the Reward!</button>
                <button ng-show="voucher.basics.status === 'user redeemed' && !isVoucherExpired(voucher)" class="btn btn-success btn-shadow" ng-click="changeVoucherStatus(voucher.basics.code)">Ok. We gave the Reward!</button>
            </div>
        </div>
    </div>
</div>