 <div class="hidden-xs">
 <div class="modal-header modal_slider_images_header color_white" style="margin-top: -2em">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="$dismiss()" class="color_white">&times;</span><span class="sr-only" >Close</span></button>
        <!-- <h4 class="modal-title color_white">{{outlet.basics.name}} Images</h4> -->
      </div>
   <div class="modal-body col-md-12">
        <div class="col-md-1"></div>
        <div id="images_single_modal col-md-10" slider-single="{infinite:false}" >
          <div class="slide modal-slider_large" id="modal-slider"  ng-repeat="x in getRange(0, outlet.photos.others.length, 1)" > 
            <img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{outlet.photos.others[$index].image._md}}" alt="">
          </div>
        </div>   
    </div>
 </div>
       


     