<div>
    <div class="modal-header modal_slider_images_header color_white" style="margin-top: -2em">
        <button class="btn btn-warning pull-right" data-dismiss="modal" ng-click="$dismiss()"><span aria-hidden="true"  class="color_white">&times;</span></button>
    <!-- <h4 class="modal-title color_white">{{outlet.basics.name}} Images</h4> -->
    </div>
    <div class="modal-body">
        <div class="col-xs-1"></div>
        <div id="images_single_modal col-xs-10" slider-single="{infinite:false}" >
            <div class="slide modal-slider_large" id="modal-slider"  ng-repeat="x in getRange(0, outlet.photos.others.length, 1)" > 
                <img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{outlet.photos.others[$index].image._md}}" alt="">
            </div>
        </div>   
    </div>
</div>