<!doctype html>
<html id="ng-app" ng-app="twystBeta">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<meta charset="utf-8">	
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Twyst</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="loyalty programs, customer retention, foodies, customer relationship management, customer engagement, smartphone app, Android app, Restaurant deals,      Restaurant discounts, Restaurant offers, Cafe deals, Cafe offers, Cafe discounts, Pub deals,     Pub discounts, Pub offers, loyalty rewards, check-in, location-based service, personalization,   recommender system, recommendation algorithm, be loved at the places you love!, Restaurant in gurgaon, Cafes in gurgaon, Pubs in gurgaon, Pizza in gurgaon, Pizza offers, Pizza deals, Pizza discounts">
		<script type="text/javascript">
		<!--
			if (screen.width <= 699) {
			document.location = "m.html";
			}
		//-->
		</script>
		<meta name="author" content="">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-43397667-1', 'twyst.in');
  			ga('send', 'pageview');
		</script>
	    <script src="../common/libs/angular/angular.min.js"></script>
	    <script src="../common/libs/placeholders.min.js"></script>		
	    <script src="../common/libs/angular/angular-cookies.min.js"></script>
	    <script src="./scripts/controllers.js"></script>
		<link rel="stylesheet" href="../common/libs/bootstrap/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="../common/libs/bootstrap/css/bootstrap-responsive.min.css">
	    <link rel="stylesheet" href="../common/styles/bootstrap-cosmo-2.3.2.css">
	    <link rel="stylesheet" href="../common/styles/style.css">

  		<link rel="icon" type="image/png" href="../common/images/favicon/twyst.ico">
		<script src="../common/libs/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body ng-controller="BetaController">
		<div class="row-fluid span12" style="margin:0px;">
			<div id="header" class="row-fluid one-edge-shadow outHeadder">
				<div class="offset1 span3">
					<div class="span7">	
						<a href="#/"><img id="logoLaunchpage" src="../common/images/logo_2.png" ></a>
					</div>
				</div>
				<div id="outNavBtn" class="span7">					
					<ul class="nav nav-pills pull-right">
						<li><a href="#howItWorks">How it Works</a></li>
						<li><a href="/contact-us">Contact Us</a></li>
						<li><a id="twystOrangeNav" href="/merchant"><b>For Businesses</b></a></li>
					</ul>
				</div>
				<div class="span1">
				</div>
			</div>
			<div id="containerImg" class="row-fluid">
				<div id="container" class="span10 offset1">
					<div class="span7">
						<div id="launchpageH2" class="row-fluid">
							<div class="beLoved span11"><b>Be loved at the places you love!</b></div>
						</div>					
						<div class="row-fluid span11-5">
							<div class="span4">
								<div class="span12" style="margin:0px;">
									<div id="bull" class="span10 bullet">
										<img id="bulletImg" src="../common/images/as.png"/>
										<div id="bulletCont">
											Visit your Regular Haunts (like you would anyway)
										</div>
									</div>
									<div id="arrowImgDiv" class="span2">
										<img id="arrowImg" src="../common/images/-arrow-right.png"/>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="span12" style="margin:0px;">
									<div id="bull" class="span10 bullet">
										<img id="bulletImgMid" src="../common/images/as2.png"/>
										<div id="bulletCont" class="span12">
											Check In when you visit  (Scan a QR Code OR Send an SMS)
										</div>
									</div>
									<div id="arrowImgDiv" class="span2">
										<img id="arrowImg" src="../common/images/-arrow-right.png"/>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="span12" style="margin:0px;">
									<div id="bull" class="span10 bullet">
									<img id="bulletImg1" style="" src="../common/images/as6.png"/>
										<div id="bulletCont" class="span12">
											Get the Great Rewards & Special Status you've always deserved!
										</div>
									</div>
								</div>
							</div>
							<div class="span12" style="margin:0px;">
								<img id="liveNowImg" src="../common/images/11.png"/>
							</div>
						</div>
					</div>
					<div class="rightSpan span4 pull-right">
						<div class="getTwystNow">
							<b>Get Twyst for Android</b>
						</div>
						<div id="googlePlayButtonDiv" class="row-fluid span12"> 
							<strong class="pull-left clickHere txt">Click here</strong>
							<img id="rightArrowImg1" src="../common/images/-arrow-right.png"/>
							<a href="https://play.google.com/store/apps/details?id=com.twyst.app.android" target="_blank">
							  <img id="googlePlayButton" alt="Android app on Google Play"
							       src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
							</a>
						</div>
						<div class="span11">
							<img class="or" src="../common/images/or.png"/>
						</div>
						<div id="qrCodeDiv" class="row-fluid span12">
							<strong class="pull-left scanThis txt">Scan this</strong>
							<img id="rightArrowImg2" src="../common/images/-arrow-right.png"/>
							<img class="qrcode" src="../common/images/VAP123.png"/>
						</div>
						<div class="span11">
							<img class="or1" src="../common/images/or.png"/>
						</div>
						<div id="SMSTwyst" class="span12">
							<strong class="pull-left sendSms txt">Send SMS</strong>
							<img id="rightArrowImg3" src="../common/images/-arrow-right.png"/>
							<strong class="smsCode">SMS 'Twyst' to 56070*</strong>
						</div>
						<div id="SmsRates" class="span12  txt">
							Special SMS Rates Apply*
						</div>	
						<div id="comingSoonDiv" class="span12">
							<img class="comingSoon" src="../common/images/12.png"/>
						</div>							
					</div>
				</div>
			</div>
			<div id="scrollContainer" class="row-fluid">
				<div class="span10 offset1">						
					<div class="span7">
						<div class="row-fluid">
							<div class="span11 howTextBg">
								<b>How it Works</b>
							</div>
						</div>
						<iframe id="youTubeVid" title="YouTube video player" type="text/html" 
						src="http://www.youtube.com/embed/gOI29Jfzlmw" frameborder="0" allowFullScreen>
						</iframe>
					</div>
					<div class="span4 pull-right">
						<div class="trackTwyst">
							<b>Track Twyst</b>
						</div>
						<div class="span10 offset1">
							<div id="keepInTrack" class="well one-edge-shadow" ng-hide="user.thankyou">	
								<b class="lead">Email id</b>
								<input class= "span12" ng-model="user.email" required/>
								<b class="lead">City</b>
								<select class= "span12" ng-model="user.city" required>
									<option value="delhincr">Delhi (NCR)</option>
									<option value="mumbai">Mumbai</option>
									<option value="bangalore">Bangalore</option>
									<option value="kolkata">Kolkata</option>
									<option value="chennai">Chennai</option>
									<option value="hyderabad">Hyderabad</option>
									<option value="ahmedabad">Ahmedabad</option>
									<option value="pune">Pune</option>      	
								</select>
								<button class="btn btn-success btnNotifyMe" ng-click="notifyMe()">
								<b>Notify Me</b>
								</button>
							</div>
							<div id="keepInTrack" class="well one-edge-shadow" ng-show="user.thankyou">		
								<div>Thank you! We will get back to you shortly.</div>
							</div>
						</div>
						<div class="span12 socialIconContainer">	
							<div class="span3"></div>
			                <div class="span2">
			                <a href="https://www.facebook.com/twystin" target="_blank"><img id="fbIcon" src="../common/images/bg/facebook2.png" alt="" /></a>
			                </div>
			                <div class="span2">
			                <a href="https://twitter.com/twystin" target="_blank"><img id="twIcon" src="../common/images/bg/twitter.png"/></a>
			                </div>
			                <div class="span2">
			                <a href="http://blog.twyst.in/" target="_blank"><img id="blIcon" src="../common/images/bg/notebook.png"/></a>
			                </div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer" class="row-fluid">
				<div class="span10 offset1">
					<div class="span4">© Twyst Technologies Pvt.Ltd. 2013-14</div>
					<div class="span8 pull-right">
						<div class="span3 pull-right"><a href="http://twyst.in/contact-us">Contact Us</a></div>					
						<div class="span3 pull-right"><a href="../legal/Privacy_Policy.pdf" target="_blank">Privacy Policy</a></div>
						<div class="span3 pull-right"><a href="../legal/terms_of_use.pdf" target="_blank">Terms of Use</a></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>