<div class="modal-header">
	<h3 class="modal-title ">Rewards view</h3>
</div>
<div class="modal-body">
	<table class="table table-bordered table-hover">
		<thead>
			<th>
				Checkin count
			</th>
			<th>
				Reward
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="r in reward.rewards">
				<td>
					{{r.count}}
				</td>
				<td>
					{{r.reward}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
  <button type="button btn-danger" ng-click="cancel()" class="btn">Cancel</button>
</div>