<div class="row-fluid"  style="min-height:580px;" ng-init="query()"> 
  <div id="outletView" class="lead row-fluid offset1 span10" style="padding-top:30px;">
    <div class="span6">
      <h2>Program Summary</h2>
    </div>
    <div class="span6">
      <a class="btn btn-primary btn-large" ng-href="#/offers/create/loyalty">Create New Offer</a>
    </div>
  </div>
  <div class="container-fluid">
      <div class="row-fluid">
    <div class="span5">
        <div class="preview-header lead">
          <strong>Your programs</strong>
        </div>
        <div class="well" ng-repeat="program in programs">
          <div class="row-fluid">
            <div class="span5">
              <div ng-repeat="imagesrc in program.images">
                <div class="programImgaePadding">
                  <img src="{{imagesrc}}" style="height:auto;width:auto;" class="img-polaroid img-rounded offerPreviewImage">
                </div>
              </div>
            </div>
            <div class="span1">
              &nbsp;
            </div>
            <div class="span6">
              <div class="span12" style="margin:0px;">
                  <i class="fa fa-lightbulb-o icon-green fa-3x" ng-show="program.status === 'active'" tooltip="Active prgram"></i>
                  <i class="fa fa-lightbulb-o icon-red fa-3x" ng-show="program.status === 'archived'" tooltip="Expired prgram"></i>
                  <i class="fa fa-lightbulb-o icon-yellow fa-3x" ng-show="program.status === 'draft'" tooltip="Saved prgram"></i>
                  <h2>{{program.name}}</h2>
              </div>
              <div ng-if="program.outlets">
                <h4>Program running on: </h4>
                <ul ng-repeat="outlet in program.outlets">
                  <li class="success">
                    {{outlet.basics.name}} <small>({{outlet.contact.location.locality_1.toString()}})</small>
                  </li>
                </ul>
              </div>
              <div class="row-fluid span12" style="margin:0px;">
                  <small><span ng-show="program.validity.earn_start"><b>Earn Period :</b> <small><b>{{program.validity.earn_start | date:'shortDate'}}</b>&nbsp;&nbsp;<span ng-show="program.validity.earn_end"><strong>to</strong>&nbsp;&nbsp;</span><b>{{program.validity.earn_end | date:'shortDate'}}</b></small></span></small>
              </div>
              <div class="row-fluid span12" style="margin:0px;">
                  <small><span ng-show="program.validity.earn_start"><b>Burn Period :</b> <small><b>{{program.validity.burn_start | date:'shortDate'}}</b>&nbsp;&nbsp;<span ng-show="program.validity.earn_end"><strong>to</strong>&nbsp;&nbsp;</span><b>{{program.validity.burn_end | date:'shortDate'}}</b></small></span></small>
              </div>
            </div>
          </div>
          <div>
              <button class="btn btn-success" ng-click="viewProgram(program._id)">View details</button>
              <a class="btn btn-success" ng-href="#/offers/update/{{program._id}}">Update</a>
              <button class="btn btn-danger" ng-click="deleteProgram(program)">Delete</button>
              <button class="btn btn-primary" ng-click="getRewards(program._id)"><i class="fa fa-table"></i> Rewards</button>
          </div>
          </div>       
          <div class="alert alert-error" ng-show="programs.length===0">No offers have been created yet. Click <a ng-href="#/offers/create/loyalty">here</a> to create one</div>
    </div>
    <div class="span7">
        <div class="preview-header lead">
          <strong>Program details</strong>
        </div>
        <div class="row preview-details" ng-include="'/merchant/templates/offer/preview.html'"></div>
    </div>
  </div>
  </div>
</div>