<div class="row-fluid" style="min-height:580px;">	
	<div class="lead row-fluid offset1 span11" style="padding-top:30px;">
		<h2>Create an new program</h2>
	</div>
	<div class="row-fluid">
		<div class="row-fluid offset1 span10">
			<div class="thumbnails row">
				<div class="span6 hero-unit info-header">
					<h2>Retention offers</h2>
					<div class="lead">
					Kickstart your Retention Marketing Campaigns with a single but effective retention offer that encourages your customers to visit more often.
					</div>
					<a href="/merchant/#/offers/create/standalone/"class="btn btn-block btn-primary btn-large">Create a retention offer!</a>
				</div>

				<div class="span6 hero-unit preview-header">
					<h2>Loyality offers</h2>
					<div class="lead">
					Create a loyalty program with multiple tiers that engages users and really turns them into ambassadors for your outlet.
					</div>
					<a href="/merchant/#/offers/create/loyalty/"class="btn btn-block btn-success btn-large">Create a loyalty offer!</a>

				</div>
			</div>
		</div>
	</div>
</div>

