<div id="" class="row-fluid" style="min-height:580px;" ng-if="data.checkin_count > -1">	
	<div class="lead row-fluid offset1 span11" style="padding-top:15px;">
		<h2>Welcome {{auth.name}}</h2>
	</div>
	<div class="row-fluid">
		<center>
			<h3>Your Summary on Twyst</h3>
		</center>
	</div>
	<br/>
	<div class="row-fluid">
		<center>
			<span style="font-size:250%">Incremental revenue</span>
			<i class="fa fa-rupee fa-orange fa-3x"></i>
			<b class="twyst-font">
				{{roi}}
			</b>
		</center>
	</div>
	<br/>
	<div class="row-fluid">
		<div class="row-fluid offset1 span10">	
			<div>
				<div class="row-fluid">
					<div class="span4 dashboard-boxes">
						<a href="/reports/#/current_programs/users">
							<div>
								<center class="totally-center">
									<h3>Total Unique Customers</h3>
									<br/> 
									<i class="fa fa-user fa-3x" style="color: gray;"></i>
									<b class="twyst-font">
										{{data.user_count}}
									</b>
								</center>
							</div>
						</a>
					</div>
					<div class="span4 dashboard-boxes">
						<a href="/reports/#/current_programs/checkins">
							<div>
								<center class="totally-center">
									<h3>Total Checkins</h3>
									<br/> 
									<i class="fa fa-check fa-orange fa-3x"></i>
									<b class="twyst-font">
										{{data.checkin_count}}
									</b>
								</center>
							</div>
						</a>
					</div>
					<div class="span4 dashboard-boxes">
						<a href="/reports/#/current_programs/redeems">
							<div>
								<center class="totally-center">
									<h3>Total Redemptions</h3>
									<br/> 
									<i class="fa fa-gift fa-red fa-3x"></i>
									<b class="twyst-font">
										{{data.redeem_count}}
									</b>
								</center>
							</div>
						</a>
					</div>
				</div>
				<br/>
				<div class="row-fluid">
					Showing data for last 60 days. Please click on any box to get detailed report.
				</div>
			</div>
		</div>
	</div>
</div>




