<section class="about-section-xs section-first row">
	<div class="footer navbar-fixed-bottom android-button-xs">
		<div class="text-center" ng-if="getMobileOperatingSystem() === 'Android'">
			<a href="https://play.google.com/store/apps/details?id=com.twyst.app.android">
				<img src="/outlets/assets/img/images/googleplay.png" class="google-play-xs">
			</a>
		</div>
		<div class="text-center" ng-if="getMobileOperatingSystem() === 'iOS'">
			<a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4">
				<img src="/outlets/assets/img/images/appstore.png" class="google-play-xs">
			</a>
		</div>
	</div>
	<div ng-if="outlet" class="container about-image-xs" id="image_background" background-image="{{outlet._id + '/' + 'background'}}">
		<div class="col-xs-12"> 
    		<div class="img-center outlet_info_xs col-xs-12">
    			<div class="padding-top-1">
    				<div>
    					<h4 class="color_white">
	    					{{outlet.basics.name}}
	    				</h4>
    				</div>
    				<div>
    					<span class="label label-warning label-buy" ng-if="!closed_now">Open now</span>
    					<span class="label label-warning label-red" ng-if="closed_now && opensAt.time">Opens at {{opensAt.day ? opensAt.day + ' ' : ''}} {{opensAt.time}}</span>
    				</div>
    				<div class="padding-top-pt5" ng-if="outlet.contact.phones.landline">
						<span>
							<small class="color_white">
								<i class="fa fa-phone"></i>
								<a ng-href="tel:{{outlet.contact.phones.landline}}" class="color_white">{{outlet.contact.phones.landline}}&nbsp;&nbsp;</a>
							</small>
						</span>
						<span ng-if=" outlet.contact.phones.mobile &&  outlet.contact.phones.mobile.length > 0">
							<small class="color_white">
								<i class="fa fa-mobile-phone"></i>
								<a ng-href="tel:{{mobile.num}}" class="color_white" ng-repeat="mobile in outlet.contact.phones.mobile">{{mobile.num}}&nbsp;&nbsp;</a>
							</small>
						</span>
    				</div>
    				<div>
    					<small class="color_white">
							<i class="fa fa-home"></i>
							{{outlet.contact.location.address}}
						</small>
    				</div>
    				<div>
    					<small class="color_white">
							<i class="fa fa-globe"></i>
							<a ng-href="{{outlet.links.website_url}}" class="color_white">{{outlet.links.website_url }} </a>
						</small>
    				</div>
    				<div class="padding-top-pt5">
    					<div>
    						<button class="btn btn-primary btn-xs" ng-click="share()">
	            				<i class="fa fa-facebook"></i> share
	            			</button>
    					</div>
    				</div>
    				<div class="padding-top-pt5">
    					&nbsp;
    				</div>
    			</div>
    		</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h4>Our program on Twyst</h4>
		<div ng-if="!rewards && !rewards.length">
			<h5>WE ARE NOT OFFERING ANY REWARDS AT PRESENT.</h5>
			<H6>Check Back Soon For Updates!</H6>
		</div>
		<div ng-if="rewards && rewards.length">
			<div>
				<h6 class="margin-bottom-10">Unlock exclusive rewards for being a regular! Check in on 
					<strong class="label-buy-color">Twyst</strong> every time you visit us or order.
				</h6>
			</div>
			<div class="col-xs-12">
				<table class="table table-responsive">
                <thead>
                    <th width="90"><center>Check-in #</center></th>
                    <th><span>Reward</span></th>
                    <th></th>
                </thead>
                <tr ng-repeat="offer in rewards | limitTo:counter" ng-click="offer.show = !offer.show">
                    <td class="text-center"><span>{{offer.count}}</span></td>
                    <td>
                        <h6 class="text-muted">{{offer.title}}
                        </h6>
                        <span ng-show="offer.show">
                        {{offer.title}}<br/>
                        <small class="text-muted">Terms: {{offer.terms}}</small>
                        </span>
                    </td>
                    <td>
                    	<span>
                        	<i ng-hide="offer.show" class="fa fa-chevron-down"></i>
                        	<i ng-show="offer.show" class="fa fa-chevron-up"></i>
                        </span>
                    </td>
                </tr>
            </table>
			</div>
			<div class="col-xs-12 text-center">
				<button class="btn btn-default" ng-click="updateCounter(count_limit)" ng-hide="(counter>= rewards.length)">View More</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h4>Outlet Info</h4>
		<div class="col-xs-12">
			<div>
					<span class="label label-warning label-buy">Cuisines:</span>
					<p class="font-size-eleven lets_wrap">
					{{outlet.attributes.cuisines.toString() | replaceComma }}
					</p>
			</div>
			<div>
					<span class="label label-warning label-buy">Cost For Two: </span>
					<p class="font-size-eleven">
					<i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[0] }}</span></i>&nbsp;<span>to</span>&nbsp;<i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[1] }}</span></i>
					<p>
			</div>
		</div>
		<div class="col-xs-12">
			<div>
				<div ng-if="outlet.attributes.dine_in">
					<h6>
						<img src="/outlets/assets/img/images/Dine-in.png" class="image_overview_column_attribute_xs"> Dine-in Available
					</h6>
				</div>
				<div ng-if="!outlet.attributes.dine_in">
					<h6>
						<img src="/outlets/assets/img/images/No Dine-in.png" class="image_overview_column_attribute_xs"> No Dine-in 
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.home_delivery">
					<h6>
						<img src="/outlets/assets/img/images/Home Delivery.png" class="image_overview_column_attribute_xs"> Home Delivery
					</h6>
				</div>
				<div ng-if="!outlet.attributes.home_delivery">
					<h6>
						<img src="/outlets/assets/img/images/No Home Delivery.png" class="image_overview_column_attribute_xs"> No Home Delivery 
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.veg">
					<h6>
						<img src="/outlets/assets/img/images/Veg.png" class="image_overview_column_attribute_xs"> Vegetarian Only
					</h6>
				</div>
				<div ng-if="!outlet.attributes.veg">
					<h6>
						<img src="/outlets/assets/img/images/Non Veg.png" class="image_overview_column_attribute_xs"> Serves non-veg  
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.alcohol">
					<h6>
						<img src="/outlets/assets/img/images/Yes to Alcohol.png" class="image_overview_column_attribute_xs"> Serves Alcohol
					</h6>
				</div>
				<div ng-if="!outlet.attributes.alcohol">
					<h6>
						<img src="/outlets/assets/img/images/No Alcohol.png" class="image_overview_column_attribute_xs"> No Alcohol  
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.smoking">
					<h6>
						<img src="/outlets/assets/img/images/Smoking.png" class="image_overview_column_attribute_xs"> Smoking Area Available
					</h6>
				</div>
				<div ng-if="!outlet.attributes.smoking">
					<h6>
						<img src="/outlets/assets/img/images/No Smoking.png" class="image_overview_column_attribute_xs"> No Smoking   
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.outdoor">
					<h6>
						<img src="/outlets/assets/img/images/Outdoor Seating.png" class="image_overview_column_attribute_xs"> Outdoor Seating Available
					</h6>
				</div>
			</div>
			<div>
				<div ng-if="outlet.attributes.foodcourt">
					<h6>
						<img src="/outlets/assets/img/images/Food Court.png" class="image_overview_column_attribute_xs"> Part of a food court 
					</h6>
				</div>
			</div>
		</div>
        <div class="col-xs-12">
        	<div ng-if="outlet.attributes.air_conditioning">
        		<h6>Air conditioning: {{outlet.attributes.air_conditioning}}</h6>
        	</div>
        	<div ng-if="outlet.attributes.parking">
        		<h6>Parking: {{outlet.attributes.parking}}</h6>
        	</div>
        	<div ng-if="outlet.attributes.reservation">
        		<h6>Reservation: {{outlet.attributes.reservation}}</h6>
        	</div>
        	<div ng-if="outlet.attributes.wifi">
        		<h6>Wi-fi: {{outlet.attributes.wifi}}</h6>
        	</div>
        </div>
		<div class="col-xs-12">
        	<div>
        		<span class="label label-warning label-buy">Map:</span>
        	</div>
        	<div class="padding-top-pt5" ng-if="outlet" ng-click="mapOpen('xs')">
					<gm-map gm-map-id="'mapWithMarkers'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" class="map" style="width:auto;height:130px;">
						<gm-markers gm-objects="outlets" gm-get-lat-lng="{ lat: object.location.lat, lng: object.location.lng }" gm-get-marker-options="getOutletOpts(object)" gm-on-click="selectOutlet(object, marker)">
						</gm-markers>
					</gm-map>
			</div>
        </div>
	</div>
	<div class="col-xs-12">
		<h4>From Facebook</h4>
		<div class="col-xs-12">
			<div class="fb-like-box" data-href="{{outlet.links.facebook_url}}" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true">
			</div>
		</div>
	</div>
	<!-- <div class="col-xs-12" ng-if="outlet.photos.others && outlet.photos.others.length > 0">
		<div class="panel panel-default">
			<div class="panel-heading panel_heading_callout" style="text-align: left;">
				<h4>Photos</h4>
			</div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div lazy-load="ondemand" slider-slick="{ draggable: false, slidesToShow:1, infinite:true,dots:false}">
	  					<div class="outlet-slide" ng-repeat="x in outlet.photos.others" >
	    					<img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{x.image._th}}" alt="" ng-click="open('xs')">
	  					</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="col-xs-12">
		<h4>We are also on</h4>
		<div class="col-xs-3" ng-if="outlet.links.zomato_url">
			<a ng-href="{{outlet.links.zomato_url}}" target="_blank">
				<img src="/outlets/assets/img/images/zomato.png" class="img-responsive">
				<p>
		          	Review Us
		        </p>
			</a>
		</div>
		<div class="col-xs-3" ng-if="outlet.links.foodpanda_url">
			<a ng-href="{{outlet.links.foodpanda_url}}" target="_blank">
				<img src="/outlets/assets/img/images/foodpanda.png" class="img-responsive">
				<p>
		          	Order Online
		        </p>
			</a>
		</div>
	</div>
	<div class="col-xs-12">
		<h4 class="color_black">Other outlets on 
			<span class="label-buy-color">Twyst.</span> Check out. Check-in.
		</h4>
		<div class="col-xs-12" ng-init="getSlugs()">
			<div ng-if="slugs">
  				<div slick-slider="{dots: false, arrows: true, draggable: false, slidesToShow:3, slidesToScroll: 3}">
    				<div class="my-slide" ng-repeat="s in slugs track by $index" ng-hide="s.name === outlet.basics.name">
      					<figure class="figure_bottom_carousel">
      						<a ng-href="/{{s.shortUrl.0}}"><img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{s._id}}/logo_gray" alt="" /></a>
      						<figcaption class="figurecaption_bottom_carousel">
      							<a ng-href="/{{s.shortUrl.0}}">
      								<h5>{{s.name}}</h5>
      							</a>
      							<span>{{s.location}}</span>
      							<a href="/{{s.shortUrl.0}}" class="close-caption hidden">x</a>
      						</figcaption>
      					</figure>
    				</div>
  				</div>
			</div>
		</div>
	</div>
</section>