<section id="about" class="about-section section-first row hidden-xs">
	<div ng-if="outlet" class="about-image" id="image_background" background-image="{{outlet._id + '/' + 'background'}}">
		<div class="container" id="badge_outlet_info_container">
			<div class="hidden-md hidden-lg col-xs-12 badges_small_screen">
				<span style="height: 45px; width: auto;" class="header_badges_sprite_two">
					<a href="https://play.google.com/store/apps/details?id=com.twyst.app.android" class="android_button"></a>
					<a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4" target="itunes_store" class="ios_button"></a>
				</span>
			</div> 
			<div class="col-md-10 merchant_logo_absolute">
      			<div class="col-md-2 col-sm-2 hidden-xs" style="margin-left:5em;">
      			</div>
      			<div class="col-md-4 hidden-xs hidden-sm" style="margin-top: 3em;">
        			<img ng-if="outlet && outlet.photos.logo" class="merchant_logo" ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id + '/' + 'logo'}}">
        			<div class="col-md-10 padding-top-share" ng-click="share()">
          				<a class="btn btn-social btn-facebook btn-xs">
          					<i class="fa fa-facebook"></i> Share 
          				</a>
        			</div>
      			</div>
    		</div>
			<div class="col-md-2 col-sm-2 col-xs-hidden" style="margin-left:3em;">
    		</div>
    		<div class="img-center outlet_info col-md-7 col-sm-7 col-xs-12">
    			<div class="clearfix">
    			</div>
    			<div class="col-md-4 hidden-xs hidden-sm" style="margin-top: 3em;">
    			</div>
    			<div class="col-md-8" style="margin-top:4.5em;">
    				<h5 class="col-md-12 col-sm-12 hidden-xs hidden-sm">
    					<b class="color_white knockout50" id="outlet_name" ng-click="getotherOutlet(outlet)">{{outlet.basics.name}}</b>
    				</h5>
    				<h6 class="col-xs-12 hidden-md hidden-lg">
    					<b class="color_white col-xs-12" id="outlet_name">{{outlet.basics.name}}</b>
    				</h6>
    				<div>
    					<span class="label label-warning label-buy" ng-show="!closed_now">Open now</span>
    					<span class="label label-warning label-red" ng-show="closed_now && opensAt.time">Opens at {{opensAt.day ? opensAt.day + ' ' : ''}} {{opensAt.time}}</span>
    				</div>
    				<div style="margin-top: 0.3em">
    					<b class="color_white font_fixed_sapient">
							<i class="fa fa-phone" ng-hide="!outlet.contact.phones.landline"></i>
						</b>
						<small>
							<a ng-href="tel:{{outlet.contact.phones.landline}}" class="color_white font_fixed_sapient">{{outlet.contact.phones.landline}}&nbsp;&nbsp;</a>
							<b class="color_white font_fixed_sapient" ng-hide="!outlet.contact.phones.mobile.0.num">
								<i class="fa fa-mobile-phone color_white"></i>
							</b>
							<a ng-href="tel:{{mobile.num}}" class="color_white font_fixed_sapient" ng-repeat="mobile in outlet.contact.phones.mobile">{{mobile.num}}&nbsp;&nbsp;</a>
						</small>
    				</div>
    				<div class="color_white font_fixed_sapient" >
          				<b class="color_white font_fixed_sapient hidden-xs">
          					<img src="/outlets/assets/img/images/Address.png" id="image_address_icon" ng-hide="!outlet.contact.location.address">
          				</b>
          				<small>
          					{{outlet.contact.location.address}}
          				</small>
        			</div>
        			<div class="color_white" ng-if="outlet.links.website_url">
          				<i class="fa fa-globe hidden-xs" ng-if="outlet.links.website_url"></i>&nbsp; 
          				<small>
          					<a ng-href="{{outlet.links.website_url }}" class="color_white font_fixed_sapient">{{outlet.links.website_url }} </a>
          				</small>
        			</div>
        			<div class="col-xs-12 hidden-md hidden-lg" style="display: inline-flex;">
          				<div class="col-xs-3">
            				&nbsp;
          				</div>
          				<div class="col-xs-6">
	            			<a class="btn btn-social btn-facebook btn-xs" ng-click="share()">
	            				<i class="fa fa-facebook"></i> Share 
	            			</a>
          				</div>
        			</div>
    			</div>
    		</div>
    		<div class="col-md-1">
    		</div>
		</div>
	</div>
	<div class="container content-lg">
		<div class="title-v1" style="text-align: left;" id="check_in_title" ng-if="expression">
  			<h2 id="check_in_heading">Check-in. Unlock <span class="label-buy-color">rewards</span><span>!</span></h2>
		</div>
		<div class="row">
			<div class="col-md-7 col-xs-12 content-boxes-v3 margin-bottom-40">
				<div class="clearfix margin-bottom-10 heading-sm">
					<div class="panel panel-default" ng-if="!rewards && !rewards.length">
        				<div class="panel-heading">
          					<div class="panel-title">
            					<h3>Our Program on Twyst</h3>
          					</div>
        				</div>
        				<div class="panel-body" id="no_program_view" >
          					<h5>WE ARE NOT OFFERING ANY REWARDS AT PRESENT.</h5>
          					<H6>Check Back Soon For Updates!</H6>
        				</div>
      				</div>
      				<div class="panel panel-default" ng-if="rewards && rewards.length">
      					<div class="panel-heading">
          					<div class="panel-title">
            					<h4>Our Program on Twyst</h4>
          					</div>
        				</div>
        				<div class="panel-body">
        					<h6 class="margin-bottom-20">Unlock exclusive rewards for being a regular! Check in on 
        						<strong class="label-buy-color">Twyst</strong> every time you visit us or order.
        					</h6>
        					<span>
	          					<h4 class="hidden-xs">
	          						<span class="label label-danger label-buy" style="font-size: 0.8em; text-align: center;margin: 0em 0em -0.1em 0em;">On Check-in no.</span>
	          					</h4>
	          					<div class="clearfix">
	          					</div>
	          					<h6 class="hidden-xs">
	          						<span class="arrow-down" style="margin: 30px 0px 0px 5px;"></span>
	          					</h6>
          					</span>
          					<ul ng-repeat="offer in rewards|limitTo:counter" class="timeline hidden-xs">
            					<li class="timeline-inverted">
            						<div class="timeline-badge label-buy">
              							<p style="line-height: 2.6;" class="color_white">
                							{{offer.count}}
              							</p>
            						</div>
            						<div class="timeline-panel" id="chrome">
              							<div class="timeline-heading">
                							<span class="col-md-12">
                								<h5 class="timeline-title col-md-11">
                									<p style="font-size: 1.5em; color: #fff;">
                  									{{offer.title}}
                									</p>
                								</h5>
                								<i class="fa fa-info-circle tooltip-button col-md-1" popover="{{offer.terms}}" popover-animation="true" popover-trigger="mouseenter" popover-placement="top"></i>
                							</span>
                							<div class="clearfix">
                							</div>
              							</div>
            						</div>
            					</li>
          					</ul>
          					<div class="col-xs-12">
            					<accordion class="hidden-md hidden-sm hidden-lg col-xs-12">
            						<accordion-group class="small-screen-accordion" heading="On visit {{offer.count}}: &nbsp;{{offer.title}}" ng-repeat="offer in rewards|limitTo:counter">
            							<p class="col-xs-12 color_black">
              								{{offer.title}}
            							</p>
            							<p class="col-xs-12 color_black">
              								{{offer.terms}}
            							</p>
            						</accordion-group>
            					</accordion>
            					<div class="clearfix">
            					</div>
          					</div>
          					<center>
          						<div class="col-md-12 col-xs-12 col-sm-12 margin-bottom-20">
            						<div class="col-md-5 col-sm-5">
            						</div>
            						<div class="col-md-4 col-sm-4 col-xs-12 ">
              							<button class="btn btn-default" ng-click="updateCounter(count_limit)" ng-hide="(counter>= rewards.length)">View More</button>
						            </div>
          						</div>
          					</center>
          					<div class="clearfix">
          					</div>
          					<div collapse="isCollapsed">
            					<ul ng-repeat="offer in rewards| limitTo: counter" class="timeline">
              						<li class="timeline-inverted">
              							<div class="timeline-badge label-buy">
                							<p style="line-height: 2.6;" class="color_white">
                  								{{offer.count}}
                							</p>
              							</div>
              							<div class="timeline-panel" id="chrome">
                							<div class="timeline-heading">
                  								<span class="col-md-12">
                  									<h5 class="timeline-title col-md-11">
                  										<p style="font-size: 1.5em; color: #fff;">
                    										{{offer.title}}
                  										</p>
                  									</h5>
                  									<i class="fa fa-info-circle tooltip-button col-md-1" popover="{{offer.terms}}" popover-animation="true" popover-trigger="mouseenter" popover-placement="top"></i>
                  								</span>
                  								<div class="clearfix">
                  								</div>
                							</div>
              							</div>
              						</li>
            					</ul>
          					</div>
        				</div>
      				</div>
				</div>
				<div class="clearfix">
    			</div>
    			<div class="images hidden-xs">
      				<div class="panel panel-default margin-bottom-20" ng-if="outlet">
        				<div class="panel-heading">
          					<h3 class="panel-title">Photos</h3>
        				</div>
        				<div class="panel-body">
          					<div class="col-md-12" id="outlet_images_slider">
            					<div lazy-load="ondemand" slider-slick="{ draggable: false, slidesToShow:3, infinite:true}">
              						<div class="outlet-slide" ng-repeat="x in outlet.photos.others" ng-if="x.image._th && x.approved">
                						<img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{x.image._th}}" alt="" ng-click="checkMobile() ? mobileImages() : open('lg')">
              						</div>
            					</div>
          					</div>
        				</div>
      				</div>
    			</div>
    			<div class="clearfix">
    			</div>
    			<div class="panel panel-default margin-bottom-20 hidden-xs" ng-show="outlet.links.zomato_url || outlet.links.foodpanda_url">
      				<div class="panel-heading">
        				<h3 class="panel-title">We are also on</h3>
      				</div>
      				<div class="panel-body">
        				<span class="col-md-3 col-sm-6 col-xs-6" ng-show="outlet.links.zomato_url">
        					<a ng-href="{{outlet.links.zomato_url}}" target="_blank">
        						<img src="/outlets/assets/img/images/zomato.png" class="img-responsive">
        					</a>
        					<a href="">
        						<p>
          							Review Us
        						</p>
        					</a>
        				</span>
        				<span class="col-md-3 col-sm-6 col-xs-6" ng-show="outlet.links.foodpanda_url">
        					<a ng-href="{{outlet.links.foodpanda_url}}" target="_blank">	<img src="/outlets/assets/img/images/foodpanda.png" class="img-		responsive">
        					</a>
        					<a href="">
        						<p>
          							Order Online
        						</p>
        					</a>
	        			</span>
	      			</div>
    			</div>
			</div>
			<div class="col-md-5 col-xs-12">
				<div class="col-md-12 col-xs-12 col-lg-12 margin-bottom-10 facebook-panel hidden-xs" id="facebook_panel_right" ng-if="outlet.links.facebook_url">
      				<div class="panel panel-default" id="facebook_like_box">
        				<div class="panel-heading panel_heading_callout" style="text-align: left;">
          					<h4>From Facebook</h4>
        				</div>
        				<div class="fb-like-box" data-href="{{outlet.links.facebook_url}}" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false">
        				</div>
      				</div>
    			</div>
    			<br>
    			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="callout_heading_panel_overview">
    				<div class="panel panel-default">
    					<div class="panel-heading panel_heading_callout">
          					<h4>Overview</h4>
        				</div>
        				<div class="panel-body">
          					<div class="col-md-12 col-xs-12 no_padding_class">
            					<div class="col-md-4 col-sm-4 col-xs-4">
              						<span class="label label-warning label-buy">Cuisines:</span>
              						<p class="font-size-eleven lets_wrap">
                						{{outlet.attributes.cuisines.toString() | replaceComma }}
              						</p>
            					</div>
            					<div class="col-md-4 col-sm-4 col-xs-4">
              						<span class="label label-warning label-buy">Cost For Two: </span>
              						<p class="font-size-eleven">
                						<i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[0] }}</span></i>&nbsp;<span>to</span>&nbsp;<i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[1] }}</span></i>
              						<p>
            					</div>
          					</div>
          					<div class="clearfix">
              				</div>
              				<hr>
			              	<div class="clearfix">
			             	</div>
			             	<div class="col-md-12 col-xs-12 col-sm-12">
                				<div class="col-md-12 col-xs-12 col-sm-12 margin_negative_one padding_class">
                  					<div class="col-md-6 col-sm-6 col-xs-6">
                    					<div ng-show="outlet.attributes.dine_in">
                      						<img src="/outlets/assets/img/images/Dine-in.png" class="image_overview_column_attribute margin_negative_one hidden-xs">
                      						<span class="overflow-h padding-top font-size-eleven">
                      							Dine-in Available 
                      						</span>
                    					</div>
                    					<div ng-show="!outlet.attributes.dine_in">
                      						<img src="/outlets/assets/img/images/No Dine-in.png" class="image_overview_column_attribute margin_negative_one hidden-xs">
                      						<span class="overflow-h padding-top font-size-eleven">
                      							No Dine-in 
                      						</span>
                    					</div>
                  					</div>
	                  				<div class="col-md-6 col-sm-6 col-xs-6">
	                    				<div ng-show="outlet.attributes.home_delivery" class="margin_negative_one">
	                      					<img src="/outlets/assets/img/images/Home Delivery.png" class="image_overview_column_attribute hidden-xs">
	                      					<span class="overflow-h padding-top font-size-eleven">
	                      						Home Delivery
	                      					</span>
	                    				</div>
	                  				</div>
	                  				<div ng-show="!outlet.attributes.home_delivery">
	                    				<img src="/outlets/assets/img/images/No Home Delivery.png" class="image_overview_column_attribute hidden-xs">
	                    				<span class="overflow-h padding-top font-size-eleven">
	                    					No Home Delivery 
	                    				</span>
	                  				</div>
                				</div>
              				</div>
              				<div class="clearfix">
              				</div>
              				<div class="col-md-12 col-sm-12 col-xs-12 margin_top_one margin_negative_one">
                				<div class="col-md-6 col-sm-6 col-xs-6">
                  					<div ng-show="outlet.attributes.veg">
	                    				<img src="/outlets/assets/img/images/Veg.png" class="image_overview_column_attribute hidden-xs">
	                    				<span class="overflow-h padding-top font-size-eleven">
	                    					Vegetarian Only 
	                    				</span>
	                  				</div>
	                  				<div ng-show="!outlet.attributes.veg">
	                    				<img src="/outlets/assets/img/images/Non Veg.png" class="image_overview_column_attribute hidden-xs">
	                    				<span class="overflow-h padding-top font-size-eleven">
	                    					Serves non-veg 
	                    				</span>
	                  				</div>
	                			</div>
                				<div class="col-md-6 col-sm-6 col-xs-6">
                  					<div ng-show="outlet.attributes.alcohol" class="margin_negative_one">
                    					<img src="/outlets/assets/img/images/Yes to Alcohol.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						Serves Alcohol 
                    					</span>
                  					</div>
                  					<div ng-show="!outlet.attributes.alcohol" class="margin_negative_one">
                    					<img src="/outlets/assets/img/images/No Alcohol.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						No Alcohol 
                    					</span>
                  					</div>
                				</div>
              				</div>
              				<div class="clearfix">
              				</div>
              				<div class="col-md-12 col-sm-12 col-xs-12 margin_top_one margin_negative_one">
                				<div class="col-md-6 col-sm-6 col-xs-6 smoking_avail">
                  					<div ng-show="outlet.attributes.smoking" class="padding_class">
                    					<img src="/outlets/assets/img/images/Smoking.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						Smoking Area Available 
                    					</span>
                  					</div>
                  					<div ng-show="!outlet.attributes.smoking" class="padding_class">
                    					<img src="/outlets/assets/img/images/No Smoking.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						No Smoking 
                    					</span>
                  					</div>
                				</div>
                				<div class="col-md-6 col-sm-6 col-xs-6 smoking_avail" class="padding_class">
                  					<div ng-show="outlet.attributes.outdoor" class="margin_negative_one margin_top_half">
                    					<img src="/outlets/assets/img/images/Outdoor Seating.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						Outdoor Seating Available 
                    					</span>
                  					</div>
                				</div>
              				</div>
              				<div class="clearfix">
              				</div>
              				<div class="col-md-12 col-sm-12 col-xs-12 margin_negative_one padding_class">
                				<div class="col-md-6 col-sm-6 col-xs-12">
                  					<div ng-show="outlet.attributes.foodcourt">
                    					<img src="/outlets/assets/img/images/Food Court.png" class="image_overview_column_attribute hidden-xs">
                    					<span class="overflow-h padding-top font-size-eleven">
                    						Part of a food court 
                    					</spam>
                  					</div>
                				</div>
                				<div class="clearfix">
                				</div>
                				<hr/>
                				<div class="col-md-12 col-sm-12 col-xs-12 margin_negative_one" style="padding-bottom: 10px;">
                  					<div class="col-md-6 col-sm-6 col-xs-6">
                  					</div>
                  					<div class="col-md-6 col-sm-6 col-xs-6">
                  					</div>
                				</div>
                				<div class="clearfix">
                				</div>
                				<div class="col-md-12 col-sm-12 col-xs-12 margin_negative_one padding_class">
                  					<div class="col-md-6 col-sm-6 col-xs-6 font-size-eleven">
                     					Air conditioning: {{outlet.attributes.air_conditioning}}
                  					</div>
                  					<div class="col-md-6 col-sm-6 col-xs-6 font-size-eleven">
                     					Parking: {{outlet.attributes.parking}}
                  					</div>
                				</div>
				                <div class="clearfix">
				                </div>
                				<div class="col-md-12 col-sm-12 col-xs-12 margin_negative_one padding_class">
                  					<div class="col-md-7 col-sm-7 col-xs-7 font-size-eleven">
                     					Reservation: {{outlet.attributes.reservation}}
                  					</div>
                  					<div class="col-md-5 col-sm-5 col-xs-5 font-size-eleven" id="wifi_attribute" ng-hide="!outlet.attributes.wifi">
                     					Wi-fi: {{outlet.attributes.wifi}}
                  					</div>
                				</div>
                				<div class="clearfix">
                				</div>
                				<h5 style="margin-left: 1em;" class="label label-warning label-buy">Map</h5>
                				<hr>
                				<div class="col-xs-12" ng-if="outlet" ng-click="mapOpen('lg')">
                  					<gm-map gm-map-id="'mapWithMarkers'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" class="map" style="width:auto;height:130px;">
                  						<gm-markers gm-objects="outlets" gm-get-lat-lng="{ lat: object.location.lat, lng: object.location.lng }" gm-get-marker-options="getOutletOpts(object)" gm-on-click="selectOutlet(object, marker)">
                  						</gm-markers>
                  					</gm-map>
                				</div>
              				</div>

          				</div>
    				</div>
    				<div class="clearfix">
      				</div>
    			</div>
			</div>
			<div class="col-xs-12 margin-bottom-10 facebook-panel hidden-sm hidden-md hidden-lg " id="facebook_panel_right" ng-if="outlet.links.facebook_url">
      			<div class="panel panel-default" id="facebook_like_box">
        			<div class="panel-heading panel_heading_callout" style="text-align: left;">
          				<h4>From Facebook</h4>
        			</div>
        			<div class="fb-like-box" data-href="{{outlet.links.facebook_url}}" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false">
        			</div>
      			</div>
    		</div>
    		<div class="images hidden-md hidden-lg hidden-sm col-xs-12" ng-hide="hide_image_panel">
      			<div class="panel panel-default margin-bottom-20" ng-if="outlet" ng-init="hidePanel()">
        			<div class="panel-heading">
          				<h3 class="panel-title">Photos</h3>
        			</div>
        			<div class="panel-body">
          				<div class="col-md-12" id="outlet_images_slider">
            				<div lazy-load="ondemand" slider-slick="{ draggable: false, slidesToShow:3, infinite:true}">
              					<div class="outlet-slide" ng-repeat="x in outlet.photos.others">
                					<img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{x.image._th}}" alt="" ng-click="open('lg')" class="img-xs">
              					</div>
            				</div>
          				</div>
        			</div>
      			</div>
    		</div>
		    <div class="clearfix">
		    </div>
		    <div class="panel panel-default margin-bottom-20 hidden-md hidden-lg hidden-sm" ng-show="outlet.links.zomato_url || outlet.links.foodpanda_url">
      			<div class="panel-heading">
        			<h3 class="panel-title">We are also on</h3>
      			</div>
      			<div class="panel-body">
        			<span class="col-md-3 col-sm-6 col-xs-6" ng-show="outlet.links.zomato_url">
        				<a ng-href="{{outlet.links.zomato_url}}" target="_blank"><img src="/outlets/assets/img/images/zomato.png" class="img-responsive"></a>
        				<a href="">
	        				<p>
					          	Review Us
					        </p>
				        </a>
        			</span>
        			<span class="col-md-3 col-sm-6 col-xs-6" ng-show="outlet.links.foodpanda_url">
        				<a ng-href="{{outlet.links.foodpanda_url}}" target="_blank"><img src="/outlets/assets/img/images/foodpanda.png" class="img-responsive"></a>
				        <a href="">
					        <p>
					          	Order Online
					        </p>
				        </a>
        			</span>
      			</div>
    		</div>
		</div>
	</div>
</section>
<div class="container hidden-xs text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>
          <a class="btn btn-lg btn-twyst" href="/discover">Discover more #TwystRewards</a>
        </h2>
      </div>
    </div>
</div>
<script>
  /* copy loaded thumbnails into carousel */
  $('.row .thumbnail').on('load', function() {
  }).each(function(i) {
    if(this.complete) {
      var item = $('<div class="item"></div>');
      var itemDiv = $(this).parents('div');
      var title = $(this).parent('a').attr("title");
      item.attr("title",title);
      $(itemDiv.html()).appendTo(item);
      item.appendTo('.carousel-inner'); 
    if (i==0){ // set first item active
     item.addClass('active');
   }
 }
});
  /* activate the carousel */
  $('#modalCarousel').carousel({interval:false});
  /* change modal title when slide changes */
  $('#modalCarousel').on('slid.bs.carousel', function () {
    $('.modal-title').html($(this).find('.active').attr("title"));
  })
  /* when clicking a thumbnail */
  $('.row .thumbnail').click(function(){
    var idx = $(this).parents('div').index();
    var id = parseInt(idx);
    $('#myModal').modal('show'); // show the modal
    $('#modalCarousel').carousel(id); // slide carousel to selected
  });
  $();
</script>
<section class="about-section-xs section-first row hidden-md hidden-lg hidden-sm" id="body_xs">
  <div class="footer navbar-fixed-bottom android-button-xs">
    <div class="text-center" ng-if="getMobileOperatingSystem() === 'Android'">
      <span class="color_white padding-top-pt7">GET THE APP</span>
      <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android">
        <img src="/outlets/assets/img/images/googleplay.png" class="google-play-xs">
      </a>
    </div>
    <!-- <div class="text-center"  ng-if="getMobileOperatingSystem() === 'iOS'">
      <span class="color_white padding-top-pt7">GET THE APP</span>
      <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4">
        <img src="/outlets/assets/img/images/appstore.png" class="google-play-xs">
      </a>
    </div> -->
  </div>
  <div ng-if="outlet" class="container about-image-xs" id="image_background" background-image="{{outlet._id + '/' + 'background'}}">
    <div class="col-xs-12"> 
        <div class="img-center outlet_info_xs col-xs-12">
          <div class="padding-top-1">
            <div>
              <h4 class="color_white">
                {{outlet.basics.name}}
              </h4>
            </div>
            <div>
              <span class="label label-warning label-buy" ng-if="!closed_now">Open now</span>
              <span class="label label-warning label-red" ng-if="closed_now && opensAt.time">Opens at {{opensAt.day ? opensAt.day + ' ' : ''}} {{opensAt.time}}</span>
            </div>
            <div class="padding-top-pt5" ng-if="outlet.contact.phones.landline">
            <span>
              <small class="color_white font-size-110-xs">
                <i class="fa fa-phone"></i>
                <a ng-href="tel:{{outlet.contact.phones.landline}}" class="color_white">{{outlet.contact.phones.landline}}&nbsp;&nbsp;</a>
              </small>
            </span>
            <span ng-if=" outlet.contact.phones.mobile &&  outlet.contact.phones.mobile.length > 0">
              <small class="color_white font-size-110-xs">
                <i class="fa fa-mobile-phone"></i>
                <a ng-href="tel:{{mobile.num}}" class="color_white" ng-repeat="mobile in outlet.contact.phones.mobile">{{mobile.num}}&nbsp;&nbsp;</a>
              </small>
            </span>
            </div>
            <div>
              <small class="color_white">
              <i class="fa fa-home"></i>
              {{outlet.contact.location.address}}
            </small>
            </div>
            <div class="padding-top-pt5">
              <div>
                <button class="btn btn-primary btn-xs" ng-click="share()">
                      <i class="fa fa-facebook"></i> share
                    </button>
              </div>
            </div>
            <div class="padding-top-pt5">
              &nbsp;
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-xs-12">
    <h4>Our program on Twyst</h4>
    <div ng-if="!rewards && !rewards.length">
      <h5>WE ARE NOT OFFERING ANY REWARDS AT PRESENT.</h5>
      <H6>Check Back Soon For Updates!</H6>
    </div>
    <div ng-if="rewards && rewards.length">
      <div>
        <h6 class="margin-bottom-10">Unlock exclusive rewards for being a regular! Check in on 
          <strong class="label-buy-color">Twyst</strong> every time you visit us or order.
        </h6>
      </div>
      <div class="col-xs-12">
        <table class="table table-responsive">
                <thead>
                    <th width="90">Check-in #</th>
                    <th><span>Reward</span></th>
                    <th></th>
                </thead>
                <tr ng-repeat="offer in rewards | limitTo:counter" ng-click="offer.show = !offer.show">
                    <td class="text-center"><span>{{offer.count}}</span></td>
                    <td>
                        <div class="text-muted">{{offer.title}}
                        </div>
                        <span ng-show="offer.show">
                        {{offer.desc}}<br/>
                        <small class="text-muted">Terms: {{offer.terms}}</small>
                        </span>
                    </td>
                    <td>
                      <span>
                          <i ng-hide="offer.show" class="fa fa-chevron-down"></i>
                          <i ng-show="offer.show" class="fa fa-chevron-up"></i>
                        </span>
                    </td>
                </tr>
            </table>
      </div>
      <div class="col-xs-12 text-center">
        <button class="btn btn-default" ng-click="updateCounter(count_limit)" ng-hide="(counter>= rewards.length)">View More</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-xs-12">
    <h4>Outlet Info</h4>
    <div class="col-xs-12">
      <div>
          <span><h6 class="label label-warning label-buy">Cuisines:</h6></span>
          <h6>
          {{outlet.attributes.cuisines.toString() | replaceComma }}
          </h6>
      </div>
      <div>
          <span><h6 class="label label-warning label-buy">Cost For Two:</h6> </span>
          <h6>
          <i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[0] }}</span></i>&nbsp;<span>to</span>&nbsp;<i class="fa fa-inr"><span>{{getCostForTwoText(outlet)[1] }}</span></i>
          <h6>
      </div>
    </div>
    <div class="col-xs-12">
      <div>
        <div ng-if="outlet.attributes.dine_in">
          <h6>
            <img src="/outlets/assets/img/images/Dine-in.png" class="image_overview_column_attribute_xs"> Dine-in Available
          </h6>
        </div>
        <div ng-if="!outlet.attributes.dine_in">
          <h6>
            <img src="/outlets/assets/img/images/No Dine-in.png" class="image_overview_column_attribute_xs"> No Dine-in 
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.home_delivery">
          <h6>
            <img src="/outlets/assets/img/images/Home Delivery.png" class="image_overview_column_attribute_xs"> Home Delivery
          </h6>
        </div>
        <div ng-if="!outlet.attributes.home_delivery">
          <h6>
            <img src="/outlets/assets/img/images/No Home Delivery.png" class="image_overview_column_attribute_xs"> No Home Delivery 
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.veg">
          <h6>
            <img src="/outlets/assets/img/images/Veg.png" class="image_overview_column_attribute_xs"> Vegetarian Only
          </h6>
        </div>
        <div ng-if="!outlet.attributes.veg">
          <h6>
            <img src="/outlets/assets/img/images/Non Veg.png" class="image_overview_column_attribute_xs"> Serves non-veg  
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.alcohol">
          <h6>
            <img src="/outlets/assets/img/images/Yes to Alcohol.png" class="image_overview_column_attribute_xs"> Serves Alcohol
          </h6>
        </div>
        <div ng-if="!outlet.attributes.alcohol">
          <h6>
            <img src="/outlets/assets/img/images/No Alcohol.png" class="image_overview_column_attribute_xs"> No Alcohol  
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.smoking">
          <h6>
            <img src="/outlets/assets/img/images/Smoking.png" class="image_overview_column_attribute_xs"> Smoking Area Available
          </h6>
        </div>
        <div ng-if="!outlet.attributes.smoking">
          <h6>
            <img src="/outlets/assets/img/images/No Smoking.png" class="image_overview_column_attribute_xs"> No Smoking   
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.outdoor">
          <h6>
            <img src="/outlets/assets/img/images/Outdoor Seating.png" class="image_overview_column_attribute_xs"> Outdoor Seating Available
          </h6>
        </div>
      </div>
      <div>
        <div ng-if="outlet.attributes.foodcourt">
          <h6>
            <img src="/outlets/assets/img/images/Food Court.png" class="image_overview_column_attribute_xs"> Part of a food court 
          </h6>
        </div>
      </div>
    </div>
        <div class="col-xs-12">
          <div ng-if="outlet.attributes.air_conditioning">
            <h6>Air conditioning: {{outlet.attributes.air_conditioning}}</h6>
          </div>
          <div ng-if="outlet.attributes.parking">
            <h6>Parking: {{outlet.attributes.parking}}</h6>
          </div>
          <div ng-if="outlet.attributes.reservation">
            <h6>Reservation: {{outlet.attributes.reservation}}</h6>
          </div>
          <div ng-if="outlet.attributes.wifi">
            <h6>Wi-fi: {{outlet.attributes.wifi}}</h6>
          </div>
        </div>
    <div class="col-xs-12">
          <div>
            <span ><h6 class="label label-warning label-buy">Map:</h6></span>
          </div>
          <div class="padding-top-pt5" ng-if="outlet" ng-click="mapOpen('xs')">
          <gm-map gm-map-id="'mapWithMarkersxs'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" class="map" style="width:auto;height:130px;">
            <gm-markers gm-objects="outlets" gm-get-lat-lng="{ lat: object.location.lat, lng: object.location.lng }" gm-get-marker-options="getOutletOpts(object)" gm-on-click="selectOutlet(object, marker)">
            </gm-markers>
          </gm-map>
      </div>
        </div>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-xs-12">
    <h4>From Facebook</h4>
    <div class="col-xs-12">
      <div class="fb-like-box" data-href="{{outlet.links.facebook_url}}" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true">
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-12" ng-if="outlet.photos.others && outlet.photos.others.length > 0">
    <div class="panel panel-default">
      <div class="panel-heading panel_heading_callout" style="text-align: left;">
        <h4>Photos</h4>
      </div>
      <div class="panel-body">
        <div class="col-xs-12">
          <div lazy-load="ondemand" slider-slick="{ draggable: false, slidesToShow:1, infinite:true,dots:false}">
              <div class="outlet-slide" ng-repeat="x in outlet.photos.others" >
                <img ng-src="https://s3-us-west-2.amazonaws.com/twyst-outlets/{{outlet._id}}/{{x.image._th}}" alt="" ng-click="open('xs')">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-xs-12" ng-if="outlet.links.website_url || outlet.links.zomato_url || outlet.links.foodpanda_url">
    <h4>Find us on</h4>
    <div class="col-xs-4" ng-if="outlet.links.website_url">
      <a ng-href="{{outlet.links.website_url}}" target="_blank">
        <i class="fa fa-globe color-black font-size-30-xs color-orange"></i>
        <p>
                Web
            </p>
      </a>
    </div>
    <div class="col-xs-4" ng-if="outlet.links.zomato_url">
      <a ng-href="{{outlet.links.zomato_url}}" target="_blank">
        <img src="/outlets/assets/img/images/zomato.png" class="zomato_image img-responsive">
        <p>
                Review Us
            </p>
      </a>
    </div>
    <div class="col-xs-4" ng-if="outlet.links.foodpanda_url">
      <a ng-href="{{outlet.links.foodpanda_url}}" target="_blank">
        <img src="/outlets/assets/img/images/foodpanda.png" class="zomato_image img-responsive">
        <p>
                Order Online
            </p>
      </a>
    </div>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-xs-12 text-center">
    <h4>
      <a class="btn btn-twyst" href="/discover">Discover more #TwystRewards</a>
    </h4>
  </div>
</section>
