<div class="row-fluid span12 footer" ng-controller="AuthCtrl">
	<div id="footer" class="row-fluid offset1 span10">		
		<div class="row-fluid span4"><a ng-href="#">© Twyst Technologies Pvt Ltd 2013-14</a></div>
		<div class="row-fluid span3" ng-show="auth.logged_in"><a ng-href="./legal/Merchant_Agreement.pdf" target="_blank">Legal</a></div>
		<div class="row-fluid span3"><a ng-href="http://facebook.com/twystin" target="_blank">Facebook</a></div>
		<div class="row-fluid span2"><a ng-href="http://twitter.com/twystin" target="_blank">Twitter</a></div>
	</div>		
</div>