<div class="row-fluid one-edge-shadow outHeadder">
	<div class="row-fluid offset1 span3">
		<div class="row-fluid span7">	
			<a href="#/"><img id="logo" src="../common/images/logo_2.png" ></a>
		</div>
		<div id="outMerchant" class="row-fluid span4">
			<h3><a href="#/"><strong>Merchant</strong></a></h3>
		</div>
	</div>
	<div id="outNavBtnRightSpacing" class="span7">
		<ul class="nav nav-pills pull-right">
			<li><a class="btn" href="/launchpage"><b>For Users</b></a></li>
			<li><a class="btn" href="http://blog.twyst.in/"><b>Blog</b></a></li>
			<li><a class="btn" href="mailto:contactus@twyst.in"><b>Contact Us</b></a></li>
		</ul>
	</div>
	<div class="span1">
	</div>
</div>
