.padding-logout {
	padding-top: 1%;
}

.main-div-padding {
	padding-top: 15%;
}

.shadow {
	padding-left: 2%;
	-webkit-box-shadow: 5px 5px 10px #666;
    -moz-box-shadow: 5px 5px 10px #666;
    box-shadow: 5px 5px 10px #666;
}

.orange {
	color: #F7931D;
}

.city-div {
	padding-left: 2%;
    height: 150px;
    overflow:scroll;
    background-color: #e9ebec;
}

.date-div {
	padding-left: 2%;
    height: 150px;
    background-color: #e9ebec;
}