<div class="row-fluid" style="min-height:580px;" ng-init="read()">	
	<div class="lead row-fluid offset1 span11" style="padding-top:30px;">
		<div class="span6">
			<h2>Winback programs</h2>
		</div>
		<div>
			<a class="btn btn-success btn-large" ng-href="#/winback/create">Create</a>
		</div>
	</div>
	<div class="row-fluid offset1">
		<div ng-repeat="w in winbacks" class="well span5">
			<div>
				<div class="row-fluid">
					<div style="margin:0px;">
						<div class="span11">
							<h2>{{w.name}}</h2>
						</div>
	              	</div>
	              	<table class="table table-bordered table-hover">
                        <thead>
                            <th>
                                Field
                            </th>
                            <th>
                                Value
                            </th>
                        </thead> 
                        <tbody>
                        	<tr>
                                <td>
                                	Status
                                </td>
                                <td>
                                	<i class="fa fa-lightbulb-o icon-green fa-2x" ng-if="w.status === 'active'" tooltip="Active prgram"></i>
									<i class="fa fa-lightbulb-o icon-red fa-2x" ng-if="w.status === 'archived'" tooltip="Expired prgram"></i>
									<i class="fa fa-lightbulb-o icon-yellow fa-2x" ng-if="w.status === 'draft'" tooltip="Saved prgram"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Minimum historical checkins
                                </td>
                                <td>
                                	{{w.min_historical_checkins}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Date since last visit
                                </td>
                                <td>
                                	{{w.date_since_last_visit | date: 'longDate'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Validity
                                </td>
                                <td>
                                	{{w.validity.earn_start | date: 'longDate'}} to {{w.validity.earn_end | date: 'longDate'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Voucher valid for
                                </td>
                                <td>
                                	{{w.validity.voucher_valid_days}} day(s)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Send voucher at
                                </td>
                                <td>
                                	{{w.validity.send_voucher_at}} hour(s)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Reward
                                </td>
                                <td>
                                	{{rewardify(w)}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Terms and conditions
                                </td>
                                <td>
                                	{{w.terms}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                	Running on outlets
                                </td>
                                <td>
                                	<div ng-repeat="o in w.outlets" style="color: #f6921e;">
									{{o.basics.name}}, {{o.contact.location.locality_1.toString()}}
									</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>					
				</div>
				<div class="row-fluid">
					<a href="#/winback/update/{{w._id}}" class="btn btn-primary btn-medium">Update</a>
				</div>
			</div>
		</div>
	</div>
</div>