#searchClear {
    color: green;
    text-decoration: underline;
}
.search-results-text {
    margin: 0em 0em .5em 0em;
}
#searchBox {
    width: 70%; 
}
#map {
    color: gray !important;
}
textarea:focus, input[type="text"] {   
    border: 2px solid gray;
}
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #f6921e;
}
#discover {
    display: inline-block !important;
}
.ng-cloak { 
    display:none; 
}
.twyst-orange {
    background-color: #f6921e;
    color: white;
}
.text-orange {
    color: orange;
}
.outlet-featured-thumbnail-reward {
    display:block;
    height: 13em;
}
.margin-top-pt6em {
    margin-top: -0.6em;
    margin-left: -1em;
}
.margin-left-1pt2em {
    margin-left: 1.2em;
}
.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.profile .profile-body a:hover {
    text-decoration: none;
}
.padding-bottom-featured-outlets-grid {
    padding-bottom: 2em;
}

.color-white {
    color: white !important;
}
.margin-left-pt8 {
    margin-left: 0.8em;
}
.name-location-background {
    background: #262626;
    color: white !important;
    opacity: 0.75;
    bottom: 2.7em;
    width: 85%;
    position:absolute;
}

/*
CSS for Header goes here
*/
.padding-top-100 {
    padding-top: 3.5em;
}
.header .navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
#logo-header {
    margin-top: 0.2em;
    height: 2.7em;
    width: auto;
}

.app-button {
    height: 2.5em;
}
.header .navbar {
    background-color: #000 !important;
}
.margin-top-pt6em {
    margin-top: -0.8em;
    margin-left: -1em;
}
.margin-bottom-about {
    margin-bottom: 5em; 
}

/* xs */
@media (max-width: 767px) {
    /* CSS goes here */
    body {
       overflow-x: hidden;
    }
    html {
       overflow-x: hidden;
    }
    .margin-search-bar {
        margin: 0em 0em 1em -1.1em;
    }
    .margin-search-button {
        padding-left: 0em;
    }
    .margin-discover {
        margin: 4em .5em 0em .5em;
    }
    .map-image {
        height: 3.5em;
        padding-top: 1.1em;
    }
}

/* sm */
@media (min-width: 768px) {
    body {
       overflow-x: hidden;
    }
    .margin-search-bar {
        margin: 0em 0em 1em -1.1em;
    }
    .margin-search-button {
        margin-left: -1.5em;
    }
    .margin-discover {
        margin: 5em .5em 0em .5em;
    }
    .map-image {
        height: 3em;
        padding: 1em 0em 0em 0em;
    }
}
/* md */
@media (min-width: 992px) {
    body {
       overflow-x: hidden;
    }
    .margin-search-bar {
        margin: 0em 0em 1em -1.1em;
    }
    .margin-search-button {
        margin-left: -1.5em;
    }
    .margin-discover {
        margin: 5em .5em 0em .5em;
    }
    .map-image {
        height: 4em;
        padding: 1em 0em 0em 0.5em;
    }
}
/* lg */
@media (min-width: 1200px) {
    body {
       overflow-x: hidden;
    }
    .margin-search-bar {
        margin: 0em 0em 1em -1.1em;
    }
    .margin-search-button {
        margin-left: -1.5em;
    }
    .margin-discover {
        margin: 5em 0em 0em 0em;
    }
    .map-image {
        height: 5em;
        padding: 1em 0em 0em 1em;
    }
}