<div ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding:0px; margin:0px">
        <div class="col-sm-3 col-xs-3 col-md-3">
            <a class="btn btn-default  pull-left" href="#/settings"><i class="icon ion-settings t_icon"></i></a>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6">
            <center>
                <img src="assets/logo_2.png" height="70px" width="auto">
            </center>
        </div>
        <div class="col-sm-3 col-xs-3 col-md-3">
            <div ng-if="header.status.network === false">
                <a class="btn btn-danger pull-right" ng-href="#"><i class="icon ion-wifi t_icon"></i> <span style="font-size:19px">No data</span></a>
            </div>
            <div ng-if="header.status.network === true">
                <div ng-if="header.status.user === true">
                    <button class="btn btn-default pull-right" ng-click="onRefresh()"><i class="icon ion-{{refreshing}} t_icon"></i></button>
                </div>
                <div ng-if="header.status.user === false">
                    <a class="btn btn-primary pull-right" ng-href="#/signin"><i class="icon ion-social-facebook t_icon"></i> <span style="font-size:19px">Sign in</span></a>
                </div>
            </div>
        </div>
    </nav>
</div>
