<div ng-repeat="tier in program.tiers">
    <div ng-repeat = "offer in tier.offers">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p>{{program.outlets[0].basics.name}}, <strong>{{offer.basics.title}}</strong></p>
                <p>Distance from you: </p>
            </div>
            <div class="panel-body">
                <p>{{offer.basics.description}}</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <button class="btn btn-info">Save for later</button>
                    <button class="btn btn-info"># checkin</button>
                    <button class="btn btn-info pull-right">View details</button>
                </div>
            </div>
        </div>
    </div>
</div>
